## Tarea 2 - Métodos de Aprendizajes de Máquinas en Data Science

### Integrantes: Sofía Álvarez, Sebastián Dinator.

In [21]:
# Importando librerías
import pandas as pd
import numpy as np
from sympy import Matrix
from datetime import datetime
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

# Graficos
from plotnine import ggplot
from plotnine import *

In [22]:
# Generales
import pandas as pd
import numpy as np
from sympy import Matrix
from plotnine import *

# Imagen
from IPython.display import Image

# Gráficos 
import seaborn as sns
import matplotlib.pyplot as plt

# k-fold cross validation
from sklearn.model_selection import KFold

# Muestreo
from sklearn.model_selection import train_test_split

# Regresión Logística

from sklearn.linear_model import LogisticRegression

# Naive Bayes
from sklearn.naive_bayes import GaussianNB

# Arbol de desicion
from sklearn.tree import DecisionTreeClassifier

# Medidad de tendencia central
import statistics


from sklearn.neighbors import KNeighborsClassifier

# OTROS(?)
import statsmodels.api as sm 
from sklearn.metrics import (confusion_matrix, accuracy_score, precision_score)

In [23]:
# Importando la data
df = pd.read_csv("trainData.csv")
df

,Unnamed: 0,date,fligth_number,origin,destination,distance,noshow,denied_boarding,pax_midlow,pax_high,...,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,departure_time,capacity,revenues_usd,bookings
0,389083,2009-11-09,8995,BBA,SCL,1394,9.0,0,94,2,...,22,19,0,1,0,239,10:30:00,174.0,10631.1,240
1,177073,2009-05-23,7061,LIM,TRU,489,0.0,0,100,4,...,25,0,0,19,9,192,19:20:00,174.0,5453.7,220
2,1040357,2011-05-09,8972,SCL,PUQ,2180,4.0,0,7,1,...,2,0,0,0,10,69,09:54:00,218.0,16161.0,79
3,505258,2010-02-12,6039,CGH,CNF,524,13.0,0,54,4,...,4,0,0,26,0,64,21:00:00,174.0,10828.7,90
4,369663,2009-10-24,7713,GPS,GYE,1170,14.0,0,21,88,...,0,88,1,23,3,183,12:40:00,144.0,16721.6,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999885,359783,2009-10-16,6024,UDI,CGH,552,5.0,0,25,12,...,12,0,0,64,9,0,15:14:00,144.0,14102.1,73
999886,152315,2009-05-03,6669,LIM,HAV,3934,4.0,0,129,3,...,2,20,0,0,118,156,08:50:00,168.0,32907.8,274
999887,1000747,2011-04-04,9094,IQQ,SCL,1430,5.0,0,2,1,...,20,36,0,7,0,124,14:18:00,218.0,13519.3,131
999888,117952,2009-04-04,7704,GYE,SCY,1091,2.0,0,67,2,...,16,0,0,34,2,98,08:05:00,144.0,8729.6,134
999889,305711,2009-09-02,7746,UIO,GYE,283,10.0,0,72,1,...,2,0,0,5,3,119,17:35:00,144.0,3031.0,127

# Limpieza y selección de variables

## Analizando la prescencia de nulos

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999890 entries, 0 to 999889
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       999890 non-null  int64
 1   date             999890 non-null  object
 2   fligth_number    999890 non-null  int64
 3   origin           999890 non-null  object
 4   destination      999890 non-null  object
 5   distance         999890 non-null  int64
 6   noshow           999890 non-null  float64
 7   denied_boarding  999890 non-null  int64
 8   pax_midlow       999890 non-null  int64
 9   pax_high         999890 non-null  int64
 10  pax_midhigh      999890 non-null  int64
 11  pax_low          999890 non-null  int64
 12  pax_freqflyer    999890 non-null  int64
 13  group_bookings   999890 non-null  int64
 14  out_of_stock     999890 non-null  int64
 15  dom_cnx          999890 non-null  int64
 16  int_cnx          999890 non-null  int64
 17  p2p              999890 non-null  int64
 18  departure_time   998472 non-null  object
 19  capacity         999890 non-null  float64
 20  revenues_usd     999890 non-null  float64
 21  bookings         999890 non-null  int64
dtypes: float64(3), int64(15), object(4)
memory usage: 167.8+ MB

In [25]:
#date
#origin
#destination
#departure time


df = df.drop(['date', 'origin', 'destination', 'departure_time'], axis = 1)
df
df = df.dropna() # Eliminamos datos nulos.
df = df.reset_index()
#df = df.drop(['level_0', 'index'], axis = 1)
df.shape
display(df)

,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
0,0,389083,8995,1394,9.0,0,94,2,28,94,22,19,0,1,0,239,174.0,10631.1,240
1,1,177073,7061,489,0.0,0,100,4,4,87,25,0,0,19,9,192,174.0,5453.7,220
2,2,1040357,8972,2180,4.0,0,7,1,5,64,2,0,0,0,10,69,218.0,16161.0,79
3,3,505258,6039,524,13.0,0,54,4,7,21,4,0,0,26,0,64,174.0,10828.7,90
4,4,369663,7713,1170,14.0,0,21,88,18,82,0,88,1,23,3,183,144.0,16721.6,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999885,999885,359783,6024,552,5.0,0,25,12,20,4,12,0,0,64,9,0,144.0,14102.1,73
999886,999886,152315,6669,3934,4.0,0,129,3,19,121,2,20,0,0,118,156,168.0,32907.8,274
999887,999887,1000747,9094,1430,5.0,0,2,1,0,108,20,36,0,7,0,124,218.0,13519.3,131
999888,999888,117952,7704,1091,2.0,0,67,2,7,42,16,0,0,34,2,98,144.0,8729.6,134
999889,999889,305711,7746,283,10.0,0,72,1,1,51,2,0,0,5,3,119,144.0,3031.0,127

In [26]:
for columna in df.columns:
    if type(df[columna][0]) != str:
        print(columna.upper())
        print(len(df[columna].unique()))
        display(df[df[columna]%1 != 0])

INDEX
999890

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

UNNAMED: 0
999890

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

FLIGTH_NUMBER
4026

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

DISTANCE
754

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

NOSHOW
115

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

DENIED_BOARDING
35

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_MIDLOW
322

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_HIGH
154

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_MIDHIGH
158

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_LOW
278

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_FREQFLYER
214

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

GROUP_BOOKINGS
209

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

OUT_OF_STOCK
2

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

DOM_CNX
220

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

INT_CNX
333

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

P2P
422

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

CAPACITY
232

,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
1047,1047,437541,5420,590,12.0,0,83,3,6,54,18,0,0,85,2,77,174.294915,11662.4,164
4698,4698,439135,6076,1182,5.0,0,110,5,9,89,13,0,0,13,26,187,173.705584,14245.5,226
13695,13695,447967,5589,1607,6.0,0,86,0,0,76,20,0,0,13,0,169,174.108276,8832.6,182
22619,22619,443874,5792,657,4.0,0,46,3,11,33,42,0,1,60,0,75,174.264840,6922.3,135
27762,27762,440030,5408,590,6.0,0,84,0,0,53,24,1,0,10,5,146,144.244068,7185.6,161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952284,952284,454335,5844,2446,18.0,0,59,0,9,34,26,0,0,2,1,125,174.142273,21221.3,128
958702,958702,454360,5916,590,3.0,0,88,0,2,63,10,0,0,57,0,106,174.294915,7709.7,163
959324,959324,439988,6079,1182,2.0,0,108,0,2,95,15,0,0,15,9,196,173.705584,14357.0,220
965548,965548,438992,6079,1182,36.0,0,60,0,0,43,14,0,0,12,3,102,173.705584,7842.8,117
989314,989314,441319,6172,1182,2.0,0,121,0,1,101,14,0,0,17,7,213,173.705584,13139.2,237

REVENUES_USD
310851

,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
0,0,389083,8995,1394,9.0,0,94,2,28,94,22,19,0,1,0,239,174.0,10631.1,240
1,1,177073,7061,489,0.0,0,100,4,4,87,25,0,0,19,9,192,174.0,5453.7,220
3,3,505258,6039,524,13.0,0,54,4,7,21,4,0,0,26,0,64,174.0,10828.7,90
4,4,369663,7713,1170,14.0,0,21,88,18,82,0,88,1,23,3,183,144.0,16721.6,209
5,5,251495,8734,5861,6.0,0,188,4,2,85,20,0,0,0,99,200,279.0,81609.3,299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999884,999884,122579,8878,1430,3.0,0,86,7,51,80,8,39,0,104,5,123,218.0,14169.6,232
999885,999885,359783,6024,552,5.0,0,25,12,20,4,12,0,0,64,9,0,144.0,14102.1,73
999886,999886,152315,6669,3934,4.0,0,129,3,19,121,2,20,0,0,118,156,168.0,32907.8,274
999887,999887,1000747,9094,1430,5.0,0,2,1,0,108,20,36,0,7,0,124,218.0,13519.3,131
999888,999888,117952,7704,1091,2.0,0,67,2,7,42,16,0,0,34,2,98,144.0,8729.6,134

BOOKINGS
581

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

In [27]:
df['capacity'].describe()

count    999890.000000
mean        178.056881
std          32.694811
min          53.000000
25%         150.000000
50%         174.000000
75%         174.000000
max         451.000000
Name: capacity, dtype: float64

In [28]:
eliminar = list(df[df['capacity'] % 1 != 0].index)
data = df.drop(eliminar,axis=0)
data = data.reset_index()
data

,level_0,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
0,0,0,389083,8995,1394,9.0,0,94,2,28,94,22,19,0,1,0,239,174.0,10631.1,240
1,1,1,177073,7061,489,0.0,0,100,4,4,87,25,0,0,19,9,192,174.0,5453.7,220
2,2,2,1040357,8972,2180,4.0,0,7,1,5,64,2,0,0,0,10,69,218.0,16161.0,79
3,3,3,505258,6039,524,13.0,0,54,4,7,21,4,0,0,26,0,64,174.0,10828.7,90
4,4,4,369663,7713,1170,14.0,0,21,88,18,82,0,88,1,23,3,183,144.0,16721.6,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999713,999885,999885,359783,6024,552,5.0,0,25,12,20,4,12,0,0,64,9,0,144.0,14102.1,73
999714,999886,999886,152315,6669,3934,4.0,0,129,3,19,121,2,20,0,0,118,156,168.0,32907.8,274
999715,999887,999887,1000747,9094,1430,5.0,0,2,1,0,108,20,36,0,7,0,124,218.0,13519.3,131
999716,999888,999888,117952,7704,1091,2.0,0,67,2,7,42,16,0,0,34,2,98,144.0,8729.6,134
999717,999889,999889,305711,7746,283,10.0,0,72,1,1,51,2,0,0,5,3,119,144.0,3031.0,127

In [29]:
display(data.describe())
print(data.describe().shape)

,level_0,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
count,999718.000000,999718.000000,9.997180e+05,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000
mean,499947.870237,499947.870237,6.437456e+05,6109.117706,1460.855778,6.015700,0.047570,75.510574,3.807903,6.319279,57.197498,16.798840,3.829329,0.096225,25.840142,26.708132,107.085820,178.056066,14835.277687,159.634094
std,288642.978213,288642.978213,3.882671e+05,2050.918123,1684.637100,5.112556,0.547211,44.570278,7.251763,10.266169,38.398518,13.836479,12.299626,0.294900,32.263478,43.961292,65.524338,32.696178,17963.999498,68.630524
min,0.000000,0.000000,0.000000e+00,10.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,53.000000,-77206.900000,1.000000
25%,249978.250000,249978.250000,3.116202e+05,5380.000000,538.000000,3.000000,0.000000,46.000000,0.000000,0.000000,29.000000,7.000000,0.000000,0.000000,0.000000,0.000000,59.000000,150.000000,6286.200000,110.000000
50%,499950.500000,499950.500000,6.242615e+05,6036.000000,916.000000,5.000000,0.000000,77.000000,1.000000,3.000000,55.000000,14.000000,0.000000,0.000000,12.000000,5.000000,99.000000,174.000000,9692.200000,151.000000
75%,749916.750000,749916.750000,9.457720e+05,7190.000000,1672.000000,8.000000,0.000000,104.000000,4.000000,8.000000,82.000000,23.000000,0.000000,0.000000,42.000000,31.000000,147.000000,174.000000,15730.900000,200.000000
max,999889.000000,999889.000000,1.350331e+06,9264.000000,11380.000000,271.000000,53.000000,344.000000,195.000000,230.000000,296.000000,236.000000,240.000000,1.000000,262.000000,357.000000,564.000000,451.000000,335775.400000,608.000000

(8, 20)

In [ ]:
sí
fligth_number
noshow
denied_boarding
dom
int_cnx
p2p
capacity
bookings


No
distance porque 2 podrian tener la misma
rebenues


analizar
pax
out of stock

In [30]:
#### Anlizando si 
#* pax_high
#* pax_midhigh
#* pax_midlow
#* pax_low
#* pax_freqflyer
#### están contenidas en bookings
datAnalisis1 = data[["Unnamed: 0","bookings"]]
datAnalisis1["suma"] = data["pax_high"] + data["pax_midhigh"] + data["pax_midlow"] + data["pax_low"] + data["pax_freqflyer"]

count = 0
for i in range(data.shape[0]):
    if (datAnalisis1["bookings"].iloc[i] != datAnalisis1["suma"].iloc[i]):
        print(datAnalisis1["bookings"].iloc[i])
    else: 
        count += 1
        
print("Hay:", count, "coincidencias", "de un total de", datAnalisis1.shape[0], "datos")

#### Conclusión: bookings contiene a esas variables.

C:\Users\sebad\AppData\Local\Temp\ipykernel_44476\3989490445.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Hay: 999718 coincidencias de un total de 999718 datos

In [31]:
#### Para optimizar el número de variables se unen los 2 pax_high y 2 pax_low
data['paxH'] = (data['pax_high'] + data['pax_midhigh'])
data['paxL'] = (data['pax_low'] + data['pax_midlow'])
data

,level_0,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,...,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings,paxH,paxL
0,0,0,389083,8995,1394,9.0,0,94,2,28,...,19,0,1,0,239,174.0,10631.1,240,30,188
1,1,1,177073,7061,489,0.0,0,100,4,4,...,0,0,19,9,192,174.0,5453.7,220,8,187
2,2,2,1040357,8972,2180,4.0,0,7,1,5,...,0,0,0,10,69,218.0,16161.0,79,6,71
3,3,3,505258,6039,524,13.0,0,54,4,7,...,0,0,26,0,64,174.0,10828.7,90,11,75
4,4,4,369663,7713,1170,14.0,0,21,88,18,...,88,1,23,3,183,144.0,16721.6,209,106,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999713,999885,999885,359783,6024,552,5.0,0,25,12,20,...,0,0,64,9,0,144.0,14102.1,73,32,29
999714,999886,999886,152315,6669,3934,4.0,0,129,3,19,...,20,0,0,118,156,168.0,32907.8,274,22,250
999715,999887,999887,1000747,9094,1430,5.0,0,2,1,0,...,36,0,7,0,124,218.0,13519.3,131,1,110
999716,999888,999888,117952,7704,1091,2.0,0,67,2,7,...,0,0,34,2,98,144.0,8729.6,134,9,109
999717,999889,999889,305711,7746,283,10.0,0,72,1,1,...,0,0,5,3,119,144.0,3031.0,127,2,123

In [32]:
######## Anlizando la cantidad de vuelos que denegó abordajes.
data.loc[data.denied_boarding >= 1, 'sum_denied'] = 1
data.loc[data.denied_boarding < 1, 'sum_denied'] = 0
print(data['sum_denied'].sum(), 'vuelos')

13779.0 vuelos

In [33]:
######## Anlizando la cantidad de vuelos que denegó abordajes.
data.loc[data.out_of_stock >= 1, 'sum_out_stock'] = 1
data.loc[data.denied_boarding < 1, 'sum_out_stock'] = 0
print(data['sum_out_stock'].sum(), 'vuelos')

4440.0 vuelos

In [34]:
######## Anlizando la cantidad de vuelos que denegó abordajes.
data.loc[data.noshow >= 1, 'sum_noshow'] = 1
data.loc[data.noshow < 1, 'sum_noshow'] = 0
print(data['sum_noshow'].sum(), 'vuelos')

928632.0 vuelos

In [35]:
dataUsar = data[['fligth_number','capacity']]
dataUsar

        fligth_number  capacity
0                8995     174.0
1                7061     174.0
2                8972     218.0
3                6039     174.0
4                7713     144.0
...               ...       ...
999713           6024     144.0
999714           6669     168.0
999715           9094     218.0
999716           7704     144.0
999717           7746     144.0

[999718 rows x 2 columns]

In [16]:
dataUsar = data[['fligth_number',
                 'dom_cnx', 'int_cnx', 'p2p', 'capacity',
                 'bookings', 'paxL', 'paxH',
                 'pax_freqflyer', 'group_bookings','revenues_usd']]
dataUsar

,fligth_number,dom_cnx,int_cnx,p2p,capacity,bookings,paxL,paxH,pax_freqflyer,group_bookings,revenues_usd
0,8995,1,0,239,174.0,240,188,30,22,19,10631.1
1,7061,19,9,192,174.0,220,187,8,25,0,5453.7
2,8972,0,10,69,218.0,79,71,6,2,0,16161.0
3,6039,26,0,64,174.0,90,75,11,4,0,10828.7
4,7713,23,3,183,144.0,209,103,106,0,88,16721.6
...,...,...,...,...,...,...,...,...,...,...,...
999713,6024,64,9,0,144.0,73,29,32,12,0,14102.1
999714,6669,0,118,156,168.0,274,250,22,2,20,32907.8
999715,9094,7,0,124,218.0,131,110,1,20,36,13519.3
999716,7704,34,2,98,144.0,134,109,9,16,0,8729.6
999717,7746,5,3,119,144.0,127,123,2,2,0,3031.0

In [36]:
scaler = StandardScaler()
scaler.fit(dataUsar)

data_estandar = pd.DataFrame(scaler.transform(dataUsar), columns=dataUsar.columns)
data_estandar['noshow'] = data['noshow']
data_estandar

        fligth_number  capacity  noshow
0            1.407118 -0.124053     9.0
1            0.464125 -0.124053     0.0
2            1.395903  1.221670     4.0
3           -0.034188 -0.124053    13.0
4            0.782032 -1.041592    14.0
...               ...       ...     ...
999713      -0.041502 -1.041592     5.0
999714       0.272991 -0.307561     4.0
999715       1.455389  1.221670     5.0
999716       0.777643 -1.041592     2.0
999717       0.798122 -1.041592    10.0

[999718 rows x 3 columns]

In [37]:
def calculate_sMAPE(actual, predicted): 
    flag = []
    
    for a,p in zip(actual, predicted):
        
        if a == 0 and p == 0:
            flag.append(0)
            
        else:
            flag.append(np.abs(a - p) / (np.abs(a) + np.abs(p)))
            
            
    return  round(np.mean(flag)*100, 4), round(np.std(flag), 4)

countm = 1

for NN in range(5, 999718, 100):
    
    print('')
    print(f'Modelo {countm}: {NN} vecinos')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    print(kf)
    #Generando los k-fold
    temp = kf.split(data_estandar)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        print('')
        print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = data_estandar.iloc[lista_train_index,0:-1]
        y_train = data_estandar.iloc[lista_train_index,-1]

        X_test = data_estandar.iloc[lista_test_index,0:-1]
        y_test = np.array(data_estandar.iloc[lista_test_index, -1])


        KNN = KNeighborsClassifier(n_neighbors = NN, weights="uniform", n_jobs = -1)

        KNN=KNN.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = KNN.predict(X_test)
        print("Resultado de la predicción:",resultado)
        print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)


    print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

# CON REGRESSOR

In [38]:
from sklearn.neighbors import KNeighborsRegressor

In [19]:
countm = 1

for NN in range(5, 999718, 100):
    
    print('')
    print(f'Modelo {countm}: {NN} vecinos')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    print(kf)
    #Generando los k-fold
    temp = kf.split(data_estandar)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        print('')
        print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = data_estandar.iloc[lista_train_index,0:-1]
        y_train = data_estandar.iloc[lista_train_index,-1]

        X_test = data_estandar.iloc[lista_test_index,0:-1]
        y_test = np.array(data_estandar.iloc[lista_test_index, -1])


        KNN = KNeighborsRegressor(n_neighbors = NN, weights="uniform", n_jobs = -1)

        KNN=KNN.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = KNN.predict(X_test)
        print("Resultado de la predicción:",resultado)
        print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)


    print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

Modelo 1: 5 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [6.2 9.  5.  ... 5.8 4.6 1.6]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 33.7136 +- 0.2687

ITERACIÓN 2
Resultado de la predicción: [7.2 5.2 5.4 ... 3.  4.6 8.6]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 33.6562 +- 0.2672

ITERACIÓN 3
Resultado de la predicción: [3.8 4.  8.2 ... 6.2 9.2 3.4]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 33.7277 +- 0.2684

ITERACIÓN 4
Resultado de la predicción: [4.8 9.6 3.6 ... 5.2 3.2 6.4]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 33.59 +- 0.2674

ITERACIÓN 5
Resultado de la predicción: [ 3.2  7.6  8.2 ...  2.4 11.6 11.6]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 33.7035 +- 0.2685

ITERACIÓN 6
Resultado de la predicción: [5.2 3.2 2.2 ... 7.6 4.8 4.4]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 33.7123 +- 0.2666

ITERACIÓN 7
Resultado de la predicción: [ 5.4  2.6  4.4 ... 16.   1.8  7.4]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 33.6281 +- 0.268

ITERACIÓN 8
Resultado de la predicción: [ 5.4  5.8  2.8 ...  4.2 11.2  5.6]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 33.7706 +- 0.2688

ITERACIÓN 9
Resultado de la predicción: [ 4.6 10.   8.6 ...  8.   4.   3.2]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 33.7132 +- 0.2681

ITERACIÓN 10
Resultado de la predicción: [ 3.6 17.8  3.2 ...  8.6  7.   5.4]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 33.9828 +- 0.27
vecinos = 5, error =  33.72 +- 0.27

Modelo 2: 105 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.63809524 8.04761905 7.92380952 ... 6.91428571 5.78095238 4.91428571]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.6583 +- 0.2664

ITERACIÓN 2
Resultado de la predicción: [5.84761905 5.54285714 6.08571429 ... 2.06666667 5.46666667 8.2952381 ]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.5756 +- 0.2653

ITERACIÓN 3
Resultado de la predicción: [5.47619048 5.18095238 7.56190476 ... 5.51428571 7.83809524 5.60952381]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.712 +- 0.2662

ITERACIÓN 4
Resultado de la predicción: [6.01904762 9.59047619 3.99047619 ... 5.79047619 3.33333333 7.04761905]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.5123 +- 0.2655

ITERACIÓN 5
Resultado de la predicción: [3.6952381  5.79047619 9.06666667 ... 5.93333333 8.79047619 7.38095238]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.6596 +- 0.2663

ITERACIÓN 6
Resultado de la predicción: [4.3047619  2.9047619  2.61904762 ... 7.36190476 4.53333333 5.12380952]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.6761 +- 0.2644

ITERACIÓN 7
Resultado de la predicción: [6.28571429 4.15238095 7.7047619  ... 7.08571429 5.14285714 7.92380952]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.5525 +- 0.2657

ITERACIÓN 8
Resultado de la predicción: [ 5.96190476  5.27619048  4.6        ...  5.23809524 11.26666667
  5.44761905]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.6848 +- 0.2664

ITERACIÓN 9
Resultado de la predicción: [5.81904762 8.19047619 5.80952381 ... 8.88571429 7.14285714 5.72380952]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.6808 +- 0.2659

ITERACIÓN 10
Resultado de la predicción: [4.6        8.40952381 5.81904762 ... 8.68571429 5.88571429 5.55238095]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.8271 +- 0.268
vecinos = 105, error =  31.65 +- 0.27

Modelo 3: 205 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.87317073 7.4195122  7.27317073 ... 7.60487805 5.64878049 4.65853659]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.6603 +- 0.2665

ITERACIÓN 2
Resultado de la predicción: [5.6195122  5.45365854 6.5804878  ... 1.96585366 5.24390244 8.05853659]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.5893 +- 0.2654

ITERACIÓN 3
Resultado de la predicción: [5.39512195 5.01463415 7.46829268 ... 5.26829268 7.59512195 6.0097561 ]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.7284 +- 0.2664

ITERACIÓN 4
Resultado de la predicción: [5.64878049 9.43902439 4.11707317 ... 5.96585366 3.46341463 7.50243902]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.5136 +- 0.2656

ITERACIÓN 5
Resultado de la predicción: [3.47317073 5.60487805 8.60487805 ... 5.83902439 8.42439024 7.31219512]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.6576 +- 0.2664

ITERACIÓN 6
Resultado de la predicción: [4.87804878 3.00487805 2.73658537 ... 7.07317073 4.63414634 5.54634146]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.6612 +- 0.2646

ITERACIÓN 7
Resultado de la predicción: [6.28292683 4.30731707 7.70731707 ... 6.53658537 5.47804878 7.62926829]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.5579 +- 0.2658

ITERACIÓN 8
Resultado de la predicción: [ 6.17560976  4.93170732  4.69756098 ...  5.51219512 11.09268293
  5.68780488]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.6837 +- 0.2665

ITERACIÓN 9
Resultado de la predicción: [6.50243902 8.32682927 5.61463415 ... 8.68292683 6.1804878  5.92195122]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.6886 +- 0.266

ITERACIÓN 10
Resultado de la predicción: [4.46341463 8.32682927 5.54146341 ... 9.05365854 5.71219512 5.68780488]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.8365 +- 0.2682
vecinos = 205, error =  31.66 +- 0.27

Modelo 4: 305 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.95409836 7.64590164 6.99672131 ... 7.70491803 5.85901639 4.5704918 ]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.6644 +- 0.2666

ITERACIÓN 2
Resultado de la predicción: [5.60983607 5.59344262 6.5704918  ... 2.13442623 5.30819672 7.61639344]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.6089 +- 0.2655

ITERACIÓN 3
Resultado de la predicción: [5.33114754 5.1147541  7.27540984 ... 5.0295082  7.50491803 5.93114754]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.7505 +- 0.2665

ITERACIÓN 4
Resultado de la predicción: [5.58360656 9.2557377  4.1704918  ... 5.92459016 3.49508197 7.67540984]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.5315 +- 0.2656

ITERACIÓN 5
Resultado de la predicción: [3.58360656 5.41311475 8.69836066 ... 5.86229508 8.34098361 7.26557377]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.6703 +- 0.2665

ITERACIÓN 6
Resultado de la predicción: [4.88196721 2.98360656 2.58688525 ... 6.95081967 4.7147541  5.58360656]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.6718 +- 0.2648

ITERACIÓN 7
Resultado de la predicción: [6.16393443 4.38032787 7.64590164 ... 6.41639344 5.56393443 7.37377049]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.568 +- 0.2659

ITERACIÓN 8
Resultado de la predicción: [ 6.46557377  4.93442623  4.98360656 ...  5.49836066 11.03934426
  5.5442623 ]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.6967 +- 0.2666

ITERACIÓN 9
Resultado de la predicción: [6.57377049 8.11147541 5.68196721 ... 8.51803279 6.13442623 6.00327869]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.6941 +- 0.2661

ITERACIÓN 10
Resultado de la predicción: [4.47540984 7.93442623 5.31147541 ... 8.7442623  5.77377049 6.03606557]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.8517 +- 0.2682
vecinos = 305, error =  31.67 +- 0.27

Modelo 5: 405 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.80246914 7.53580247 6.8617284  ... 7.50864198 5.8345679  4.63209877]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.68 +- 0.2667

ITERACIÓN 2
Resultado de la predicción: [5.56296296 5.61975309 6.39259259 ... 2.17530864 5.24197531 7.72839506]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.627 +- 0.2656

ITERACIÓN 3
Resultado de la predicción: [5.37037037 5.34320988 7.32839506 ... 4.92839506 7.18024691 5.91604938]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.7633 +- 0.2666

ITERACIÓN 4
Resultado de la predicción: [5.61481481 9.57037037 4.28148148 ... 6.05679012 3.43703704 7.77530864]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.5371 +- 0.2657

ITERACIÓN 5
Resultado de la predicción: [3.36296296 5.2962963  8.41975309 ... 5.74074074 8.28888889 7.44197531]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.6856 +- 0.2666

ITERACIÓN 6
Resultado de la predicción: [4.80987654 2.98765432 2.53580247 ... 7.06419753 4.70617284 5.74074074]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.691 +- 0.2648

ITERACIÓN 7
Resultado de la predicción: [6.1382716  4.39012346 7.55061728 ... 6.60987654 5.57283951 7.45185185]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.5802 +- 0.266

ITERACIÓN 8
Resultado de la predicción: [ 6.40740741  4.90864198  5.1037037  ...  5.5382716  11.10123457
  5.6962963 ]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.7108 +- 0.2667

ITERACIÓN 9
Resultado de la predicción: [6.48148148 8.20493827 5.53333333 ... 8.38271605 6.12098765 6.07654321]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.7174 +- 0.2661

ITERACIÓN 10
Resultado de la predicción: [4.5037037  7.90123457 5.22716049 ... 8.63209877 5.68888889 5.94567901]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.873 +- 0.2683
vecinos = 405, error =  31.69 +- 0.27

Modelo 6: 505 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.79207921 7.54257426 6.93861386 ... 7.59405941 5.79207921 4.72079208]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.6984 +- 0.2668

ITERACIÓN 2
Resultado de la predicción: [5.55841584 5.6039604  6.45346535 ... 2.2970297  5.29306931 7.74257426]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.6443 +- 0.2656

ITERACIÓN 3
Resultado de la predicción: [5.36435644 5.54851485 7.36435644 ... 4.96039604 7.14851485 5.81188119]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.7727 +- 0.2667

ITERACIÓN 4
Resultado de la predicción: [5.53267327 9.54653465 4.33267327 ... 6.26534653 3.51089109 7.8039604 ]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.553 +- 0.2657

ITERACIÓN 5
Resultado de la predicción: [3.32871287 5.25148515 8.13465347 ... 5.73465347 8.24554455 7.46336634]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.6966 +- 0.2666

ITERACIÓN 6
Resultado de la predicción: [4.91089109 2.97623762 2.80990099 ... 7.24554455 4.94455446 5.74455446]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.7015 +- 0.2649

ITERACIÓN 7
Resultado de la predicción: [6.18019802 4.61188119 7.36633663 ... 6.59009901 5.51089109 7.33069307]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.5931 +- 0.2661

ITERACIÓN 8
Resultado de la predicción: [ 6.43762376  4.84158416  5.21584158 ...  5.67326733 11.25940594
  5.73465347]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.7285 +- 0.2667

ITERACIÓN 9
Resultado de la predicción: [6.5029703  8.1980198  5.6019802  ... 8.48316832 6.33861386 6.06732673]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.7347 +- 0.2662

ITERACIÓN 10
Resultado de la predicción: [4.59405941 7.82574257 5.24752475 ... 8.85940594 5.83564356 6.05742574]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.889 +- 0.2683
vecinos = 505, error =  31.7 +- 0.27

Modelo 7: 605 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.95867769 7.50082645 6.93057851 ... 7.67603306 5.77190083 4.88760331]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.7102 +- 0.2668

ITERACIÓN 2
Resultado de la predicción: [5.51900826 5.58677686 6.25950413 ... 2.3553719  5.36363636 7.73553719]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.6535 +- 0.2657

ITERACIÓN 3
Resultado de la predicción: [5.36033058 5.72231405 7.32892562 ... 4.95702479 7.13057851 5.79669421]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.7855 +- 0.2668

ITERACIÓN 4
Resultado de la predicción: [5.51735537 9.58016529 4.31900826 ... 6.25123967 3.71404959 8.24297521]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.5681 +- 0.2657

ITERACIÓN 5
Resultado de la predicción: [3.38181818 5.28099174 7.96198347 ... 5.74545455 8.26280992 7.45123967]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.7111 +- 0.2667

ITERACIÓN 6
Resultado de la predicción: [4.80826446 2.91570248 2.9338843  ... 7.21487603 4.96528926 5.9322314 ]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.7119 +- 0.265

ITERACIÓN 7
Resultado de la predicción: [6.28099174 4.60495868 7.38181818 ... 6.55702479 5.59173554 7.32892562]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.6088 +- 0.2661

ITERACIÓN 8
Resultado de la predicción: [ 6.46446281  4.85785124  5.36528926 ...  5.63636364 11.11239669
  5.68595041]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.7405 +- 0.2668

ITERACIÓN 9
Resultado de la predicción: [6.44628099 8.36198347 5.44958678 ... 8.55702479 6.54214876 6.05289256]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.7473 +- 0.2662

ITERACIÓN 10
Resultado de la predicción: [4.70082645 7.63966942 5.36198347 ... 8.73553719 5.7785124  6.10247934]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.9048 +- 0.2684
vecinos = 605, error =  31.71 +- 0.27

Modelo 8: 705 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [8.04680851 7.51347518 6.9787234  ... 7.71631206 5.74326241 4.86524823]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.7232 +- 0.2669

ITERACIÓN 2
Resultado de la predicción: [5.57163121 5.48510638 6.23829787 ... 2.3929078  5.24113475 7.75602837]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.6652 +- 0.2658

ITERACIÓN 3
Resultado de la predicción: [5.39148936 5.8        7.42269504 ... 5.04397163 7.10212766 5.82411348]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.7953 +- 0.2668

ITERACIÓN 4
Resultado de la predicción: [5.45815603 9.47375887 4.4893617  ... 6.20141844 3.73191489 8.23546099]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.5765 +- 0.2658

ITERACIÓN 5
Resultado de la predicción: [3.40567376 5.35177305 7.88085106 ... 5.7787234  8.22836879 7.34468085]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.7233 +- 0.2667

ITERACIÓN 6
Resultado de la predicción: [4.80425532 2.96028369 2.86382979 ... 7.27092199 4.98723404 5.91631206]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.7232 +- 0.265

ITERACIÓN 7
Resultado de la predicción: [6.26808511 4.69078014 7.48368794 ... 6.61843972 5.61276596 7.4       ]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.6225 +- 0.2661

ITERACIÓN 8
Resultado de la predicción: [ 6.40283688  4.88368794  5.46808511 ...  5.56028369 11.0893617
  5.77021277]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.7512 +- 0.2669

ITERACIÓN 9
Resultado de la predicción: [6.55744681 8.33900709 5.54893617 ... 8.61985816 6.60283688 5.93333333]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.7588 +- 0.2663

ITERACIÓN 10
Resultado de la predicción: [4.63120567 7.65673759 5.49787234 ... 8.8        5.72765957 6.0751773 ]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.9201 +- 0.2684
vecinos = 705, error =  31.73 +- 0.27

Modelo 9: 805 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.99006211 7.55776398 6.88447205 ... 7.85217391 5.73664596 4.84968944]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.7362 +- 0.2669

ITERACIÓN 2
Resultado de la predicción: [5.50310559 5.36645963 6.28819876 ... 2.48074534 5.20372671 7.85217391]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.6739 +- 0.2658

ITERACIÓN 3
Resultado de la predicción: [5.39875776 5.88944099 7.44223602 ... 5.0310559  7.11428571 5.78136646]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.8057 +- 0.2669

ITERACIÓN 4
Resultado de la predicción: [5.48695652 9.30807453 4.6136646  ... 6.23478261 3.84347826 8.35031056]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.589 +- 0.2658

ITERACIÓN 5
Resultado de la predicción: [3.4        5.43975155 7.88571429 ... 5.68819876 8.24223602 7.42608696]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.7337 +- 0.2667

ITERACIÓN 6
Resultado de la predicción: [4.77267081 2.94906832 2.87701863 ... 7.19130435 4.96645963 6.00621118]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.7347 +- 0.265

ITERACIÓN 7
Resultado de la predicción: [6.17888199 4.71552795 7.51925466 ... 6.75652174 5.57142857 7.39130435]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.6317 +- 0.2662

ITERACIÓN 8
Resultado de la predicción: [ 6.31180124  4.80248447  5.51801242 ...  5.59503106 11.03478261
  5.77888199]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.7612 +- 0.2669

ITERACIÓN 9
Resultado de la predicción: [6.68074534 8.3068323  5.57267081 ... 8.44347826 6.76149068 5.89068323]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.7688 +- 0.2663

ITERACIÓN 10
Resultado de la predicción: [4.65217391 7.65217391 5.50310559 ... 8.77267081 5.66583851 6.10186335]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.9292 +- 0.2684
vecinos = 805, error =  31.74 +- 0.27

Modelo 10: 905 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [8.02320442 7.50718232 6.92928177 ... 7.80331492 5.68618785 4.81436464]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.746 +- 0.267

ITERACIÓN 2
Resultado de la predicción: [5.46629834 5.32375691 6.25635359 ... 2.44088398 5.25635359 7.89502762]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.6826 +- 0.2658

ITERACIÓN 3
Resultado de la predicción: [5.38453039 5.9281768  7.4640884  ... 4.98674033 7.1160221  5.80994475]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.817 +- 0.2669

ITERACIÓN 4
Resultado de la predicción: [5.50165746 9.36243094 4.62209945 ... 6.18342541 3.95911602 8.23646409]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.6015 +- 0.2658

ITERACIÓN 5
Resultado de la predicción: [3.40220994 5.3359116  7.83314917 ... 5.62209945 8.14254144 7.38121547]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.7423 +- 0.2668

ITERACIÓN 6
Resultado de la predicción: [4.83535912 3.00441989 2.95359116 ... 7.24088398 4.9160221  6.12928177]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.7437 +- 0.2651

ITERACIÓN 7
Resultado de la predicción: [6.19116022 4.75248619 7.55248619 ... 6.69502762 5.67734807 7.52596685]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.6417 +- 0.2662

ITERACIÓN 8

In [20]:
countm = 1

for NN in range(5, 999718, 100):
    
    print('')
    print(f'Modelo {countm}: {NN} vecinos')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    print(kf)
    #Generando los k-fold
    temp = kf.split(data_estandar)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        print('')
        print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = data_estandar.iloc[lista_train_index,0:-1]
        y_train = data_estandar.iloc[lista_train_index,-1]

        X_test = data_estandar.iloc[lista_test_index,0:-1]
        y_test = np.array(data_estandar.iloc[lista_test_index, -1])


        KNN = KNeighborsRegressor(n_neighbors = NN, weights="uniform", n_jobs = -1)

        KNN=KNN.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = KNN.predict(X_test)
        print("Resultado de la predicción:",resultado)
        print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)


    print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

Modelo 1: 5 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [ 6.2  9.  17.  ...  5.2  6.   3.6]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 33.4928 +- 0.2684

ITERACIÓN 2
Resultado de la predicción: [7.2 7.  5.  ... 0.6 5.4 7.4]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 33.3816 +- 0.2672

ITERACIÓN 3
Resultado de la predicción: [ 2.6  3.6 10.2 ...  6.2  9.2  5.2]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 33.4435 +- 0.2677

ITERACIÓN 4
Resultado de la predicción: [6.  9.6 4.4 ... 7.2 3.  7.4]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 33.3266 +- 0.2673

ITERACIÓN 5
Resultado de la predicción: [ 5.8  9.6  5.6 ...  2.2 11.6 11.6]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 33.4033 +- 0.2682

ITERACIÓN 6
Resultado de la predicción: [5.8 3.4 2.8 ... 7.2 5.6 4.4]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 33.407 +- 0.2664

ITERACIÓN 7
Resultado de la predicción: [5.4 2.8 6.  ... 7.6 3.  8. ]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 33.3529 +- 0.2672

ITERACIÓN 8
Resultado de la predicción: [ 2.8  5.   3.6 ...  3.6 11.6  5. ]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 33.4686 +- 0.2686

ITERACIÓN 9
Resultado de la predicción: [4.2 9.2 8.8 ... 6.2 6.  6. ]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 33.4411 +- 0.2681

ITERACIÓN 10
Resultado de la predicción: [ 3.6 16.8  5.4 ...  9.   7.4  5.4]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 33.639 +- 0.2699
vecinos = 5, error =  33.44 +- 0.27

Modelo 2: 105 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.8952381  8.27619048 8.97142857 ... 6.62857143 5.64761905 5.27619048]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.5067 +- 0.2662

ITERACIÓN 2
Resultado de la predicción: [5.78095238 5.41904762 5.9047619  ... 1.93333333 5.08571429 7.65714286]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.4155 +- 0.265

ITERACIÓN 3
Resultado de la predicción: [5.16190476 4.88571429 7.61904762 ... 5.48571429 8.08571429 6.55238095]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.5475 +- 0.266

ITERACIÓN 4
Resultado de la predicción: [5.57142857 9.54285714 3.97142857 ... 6.64761905 3.12380952 7.37142857]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.3576 +- 0.2651

ITERACIÓN 5
Resultado de la predicción: [3.73333333 6.18095238 8.80952381 ... 6.03809524 8.77142857 6.9047619 ]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.4968 +- 0.2659

ITERACIÓN 6
Resultado de la predicción: [5.37142857 2.54285714 2.80952381 ... 6.96190476 3.42857143 5.19047619]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.484 +- 0.2642

ITERACIÓN 7
Resultado de la predicción: [6.02857143 4.37142857 8.36190476 ... 9.         5.77142857 7.41904762]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.3946 +- 0.2654

ITERACIÓN 8
Resultado de la predicción: [ 5.88571429  4.91428571  4.06666667 ...  5.4952381  11.21904762
  5.95238095]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.5256 +- 0.2662

ITERACIÓN 9
Resultado de la predicción: [6.37142857 8.34285714 5.81904762 ... 8.37142857 6.85714286 5.92380952]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.52 +- 0.2657

ITERACIÓN 10
Resultado de la predicción: [4.56190476 9.14285714 5.95238095 ... 8.64761905 5.8952381  5.73333333]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.6695 +- 0.2678
vecinos = 105, error =  31.49 +- 0.27

Modelo 3: 205 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [8.02439024 8.         8.43902439 ... 7.8        5.90243902 4.96097561]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.5226 +- 0.2663

ITERACIÓN 2
Resultado de la predicción: [5.47804878 5.5804878  6.48292683 ... 2.02439024 5.20487805 8.02926829]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.4359 +- 0.2651

ITERACIÓN 3
Resultado de la predicción: [5.37560976 4.8195122  7.64390244 ... 5.17073171 7.98536585 6.2195122 ]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.5774 +- 0.2662

ITERACIÓN 4
Resultado de la predicción: [5.6        9.69268293 4.4195122  ... 6.5902439  3.41463415 7.72195122]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.3758 +- 0.2652

ITERACIÓN 5
Resultado de la predicción: [3.89268293 5.58536585 8.98536585 ... 5.78536585 8.52195122 7.14146341]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.506 +- 0.2661

ITERACIÓN 6
Resultado de la predicción: [4.98536585 2.90243902 2.57560976 ... 6.95609756 3.70243902 5.45853659]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.4984 +- 0.2644

ITERACIÓN 7
Resultado de la predicción: [6.26829268 4.37560976 7.67804878 ... 8.7804878  5.75609756 7.20487805]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.4032 +- 0.2657

ITERACIÓN 8
Resultado de la predicción: [ 6.27317073  4.7902439   4.53658537 ...  5.44878049 10.90731707
  5.84390244]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.5382 +- 0.2663

ITERACIÓN 9
Resultado de la predicción: [6.57073171 8.44878049 5.6195122  ... 7.97073171 6.4        5.98536585]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.5374 +- 0.2658

ITERACIÓN 10
Resultado de la predicción: [4.6097561  8.78536585 5.71219512 ... 8.88780488 5.66829268 5.77560976]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.6825 +- 0.2679
vecinos = 205, error =  31.51 +- 0.27

Modelo 4: 305 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.99672131 8.01639344 8.36065574 ... 7.8557377  6.10491803 4.78688525]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.5445 +- 0.2665

ITERACIÓN 2
Resultado de la predicción: [5.51803279 5.54098361 6.55081967 ... 2.02295082 5.13114754 7.93770492]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.4675 +- 0.2653

ITERACIÓN 3
Resultado de la predicción: [5.30491803 4.81639344 7.36721311 ... 5.10163934 7.36721311 5.91803279]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.6061 +- 0.2663

ITERACIÓN 4
Resultado de la predicción: [5.63606557 9.40983607 4.61967213 ... 6.53114754 3.41311475 7.74754098]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.39 +- 0.2653

ITERACIÓN 5

KeyboardInterrupt:

In [39]:
countm = 1

for NN in range(5, 999718, 100):
    
    print('')
    print(f'Modelo {countm}: {NN} vecinos')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    print(kf)
    #Generando los k-fold
    temp = kf.split(data_estandar)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        print('')
        print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = data_estandar.iloc[lista_train_index,0:-1]
        y_train = data_estandar.iloc[lista_train_index,-1]

        X_test = data_estandar.iloc[lista_test_index,0:-1]
        y_test = np.array(data_estandar.iloc[lista_test_index, -1])


        KNN = KNeighborsRegressor(n_neighbors = NN, weights="uniform", n_jobs = -1)

        KNN=KNN.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = KNN.predict(X_test)
        print("Resultado de la predicción:",resultado)
        print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)


    print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

Modelo 1: 5 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7.2 9.8 5.2 ... 6.8 4.2 3. ]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 33.1007 +- 0.2669

ITERACIÓN 2
Resultado de la predicción: [6.8 5.8 5.4 ... 3.  9.  6.8]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 32.8919 +- 0.2659

ITERACIÓN 3
Resultado de la predicción: [6.6 9.8 6.4 ... 3.8 5.8 4. ]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 33.1553 +- 0.2663

ITERACIÓN 4
Resultado de la predicción: [6.  5.2 7.8 ... 9.4 5.4 7.4]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 32.9422 +- 0.2655

ITERACIÓN 5
Resultado de la predicción: [ 4.8  5.4  2.8 ...  6.  11.4  8.8]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 32.9176 +- 0.2665

ITERACIÓN 6
Resultado de la predicción: [5.  3.6 1.4 ... 5.  5.6 3.6]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 32.9482 +- 0.2654

ITERACIÓN 7
Resultado de la predicción: [ 6.8  1.   6.8 ... 13.6  5.8  5.6]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 32.8597 +- 0.2661

ITERACIÓN 8
Resultado de la predicción: [10.2  4.4  3.4 ...  6.8  5.4  6.2]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 33.0715 +- 0.2669

ITERACIÓN 9
Resultado de la predicción: [ 7.8 13.8  7.2 ...  7.4  8.   4.2]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 33.1925 +- 0.2667

ITERACIÓN 10
Resultado de la predicción: [ 4.   3.   7.  ... 10.8  6.4  4. ]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 33.2137 +- 0.2679
vecinos = 5, error =  33.03 +- 0.27

Modelo 2: 105 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [9.32380952 8.38095238 6.64761905 ... 6.42857143 5.84761905 5.41904762]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.0394 +- 0.2641

ITERACIÓN 2
Resultado de la predicción: [5.7047619  7.58095238 4.99047619 ... 3.37142857 7.00952381 7.12380952]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 30.9094 +- 0.2632

ITERACIÓN 3
Resultado de la predicción: [6.17142857 9.42857143 6.36190476 ... 4.40952381 7.88571429 3.43809524]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.1025 +- 0.2641

ITERACIÓN 4
Resultado de la predicción: [6.58095238 6.98095238 9.43809524 ... 6.83809524 3.96190476 7.31428571]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 30.8439 +- 0.2629

ITERACIÓN 5
Resultado de la predicción: [5.44761905 9.12380952 6.84761905 ... 5.76190476 9.64761905 9.07619048]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 30.9537 +- 0.2639

ITERACIÓN 6
Resultado de la predicción: [7.06666667 4.19047619 2.80952381 ... 5.59047619 8.4952381  4.86666667]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 30.9334 +- 0.2622

ITERACIÓN 7
Resultado de la predicción: [ 6.87619048  1.76190476  8.72380952 ... 11.71428571  4.83809524
  7.54285714]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 30.8683 +- 0.2638

ITERACIÓN 8
Resultado de la predicción: [7.97142857 4.18095238 5.         ... 6.3047619  8.03809524 6.40952381]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.0237 +- 0.2642

ITERACIÓN 9
Resultado de la predicción: [6.67619048 8.80952381 4.17142857 ... 6.56190476 6.40952381 5.7047619 ]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.0503 +- 0.2635

ITERACIÓN 10
Resultado de la predicción: [3.46666667 2.92380952 5.05714286 ... 7.67619048 4.72380952 5.28571429]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.2159 +- 0.2656
vecinos = 105, error =  30.99 +- 0.26

Modelo 3: 205 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [8.98536585 8.08292683 6.58536585 ... 6.73658537 5.94146341 5.31219512]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.0995 +- 0.2645

ITERACIÓN 2
Resultado de la predicción: [5.1902439  7.81463415 5.25853659 ... 2.97560976 6.50731707 7.06829268]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 30.9772 +- 0.2635

ITERACIÓN 3
Resultado de la predicción: [6.08292683 8.76097561 6.74146341 ... 4.52682927 7.75121951 3.77560976]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.159 +- 0.2644

ITERACIÓN 4
Resultado de la predicción: [6.64390244 7.3804878  9.42926829 ... 6.42439024 4.43414634 6.86829268]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 30.9105 +- 0.2633

ITERACIÓN 5
Resultado de la predicción: [ 5.17073171  6.50731707  7.2195122  ...  5.89268293 10.14634146
  8.24878049]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.0542 +- 0.2643

ITERACIÓN 6
Resultado de la predicción: [7.6195122  4.23414634 2.69756098 ... 5.18536585 8.4        4.96585366]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.0109 +- 0.2624

ITERACIÓN 7
Resultado de la predicción: [ 6.57560976  1.99512195  9.16097561 ... 12.08292683  5.12195122
  7.6       ]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 30.939 +- 0.2639

ITERACIÓN 8
Resultado de la predicción: [7.14146341 3.61463415 4.90243902 ... 6.07804878 8.83902439 6.28292683]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.104 +- 0.2646

ITERACIÓN 9
Resultado de la predicción: [6.46341463 8.50731707 4.17560976 ... 6.96097561 7.75121951 5.7902439 ]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.121 +- 0.2638

ITERACIÓN 10
Resultado de la predicción: [3.44390244 4.05365854 5.03414634 ... 8.54634146 4.1902439  5.33658537]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.2904 +- 0.2659
vecinos = 205, error =  31.07 +- 0.26

Modelo 4: 305 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [8.85901639 8.15409836 6.5704918  ... 6.83278689 6.16721311 5.16393443]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.1753 +- 0.2648

ITERACIÓN 2
Resultado de la predicción: [4.86229508 7.59344262 5.13114754 ... 2.97377049 6.61639344 6.89180328]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.0607 +- 0.2637

ITERACIÓN 3
Resultado de la predicción: [6.31147541 8.20983607 6.7442623  ... 4.85245902 7.78032787 3.75409836]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.2396 +- 0.2646

ITERACIÓN 4
Resultado de la predicción: [6.75409836 7.35081967 9.60655738 ... 6.78360656 4.36065574 7.40983607]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 30.9888 +- 0.2635

ITERACIÓN 5
Resultado de la predicción: [ 4.97377049  5.8295082   7.09508197 ...  5.86229508 10.11803279
  8.12459016]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.1286 +- 0.2645

ITERACIÓN 6
Resultado de la predicción: [7.60655738 3.57377049 2.56393443 ... 5.33442623 8.55409836 5.19016393]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.1007 +- 0.2625

ITERACIÓN 7
Resultado de la predicción: [ 6.50163934  2.14754098  8.93114754 ... 12.3147541   4.90163934
  7.48852459]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 31.0298 +- 0.264

ITERACIÓN 8
Resultado de la predicción: [7.1147541  3.56065574 5.83606557 ... 5.71803279 8.85245902 6.3147541 ]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 31.1953 +- 0.2649

ITERACIÓN 9
Resultado de la predicción: [6.04918033 8.56393443 3.91147541 ... 7.14098361 7.58688525 5.72131148]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 31.2122 +- 0.2641

ITERACIÓN 10
Resultado de la predicción: [3.43934426 4.26885246 4.99344262 ... 8.82622951 4.32786885 5.63934426]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 31.3794 +- 0.2661
vecinos = 305, error =  31.15 +- 0.26

Modelo 5: 405 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [8.86419753 8.2962963  6.67407407 ... 7.07901235 6.13580247 5.11358025]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 31.251 +- 0.265

ITERACIÓN 2
Resultado de la predicción: [4.81975309 7.50864198 5.14074074 ... 2.7382716  6.67901235 6.95308642]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 31.1458 +- 0.264

ITERACIÓN 3
Resultado de la predicción: [6.08641975 7.98271605 6.74814815 ... 4.96790123 7.64197531 3.76049383]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 31.3145 +- 0.2647

ITERACIÓN 4
Resultado de la predicción: [6.76296296 7.54074074 9.66419753 ... 6.8962963  4.1308642  7.75061728]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 31.0764 +- 0.2637

ITERACIÓN 5
Resultado de la predicción: [ 4.79259259  5.36790123  7.37530864 ...  5.92592593 10.15555556
  8.4345679 ]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 31.2047 +- 0.2647

ITERACIÓN 6
Resultado de la predicción: [7.68148148 3.47407407 2.38271605 ... 5.52592593 8.60987654 5.17530864]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 31.1836 +- 0.2628

ITERACIÓN 7

KeyboardInterrupt: