## Tarea 2 - Métodos de Aprendizajes de Máquinas en Data Science

### Integrantes: Sofía Álvarez, Sebastián Dinator.

In [1]:
# Importando librerías
import pandas as pd
import numpy as np
from sympy import Matrix
from datetime import datetime
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

# Graficos
from plotnine import ggplot
from plotnine import *

In [2]:
# Generales
import pandas as pd
import numpy as np
from sympy import Matrix
from plotnine import *

# Imagen
from IPython.display import Image

# Gráficos 
import seaborn as sns
import matplotlib.pyplot as plt

# k-fold cross validation
from sklearn.model_selection import KFold

# Muestreo
from sklearn.model_selection import train_test_split

# Regresión Logística

from sklearn.linear_model import LogisticRegression

# Naive Bayes
from sklearn.naive_bayes import GaussianNB

# Arbol de desicion
from sklearn.tree import DecisionTreeClassifier

# Medidad de tendencia central
import statistics


from sklearn.neighbors import KNeighborsClassifier

# OTROS(?)
import statsmodels.api as sm 
from sklearn.metrics import (confusion_matrix, accuracy_score, precision_score)

In [3]:
# Importando la data
df = pd.read_csv("trainData.csv")
df

,Unnamed: 0,date,fligth_number,origin,destination,distance,noshow,denied_boarding,pax_midlow,pax_high,...,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,departure_time,capacity,revenues_usd,bookings
0,389083,2009-11-09,8995,BBA,SCL,1394,9.0,0,94,2,...,22,19,0,1,0,239,10:30:00,174.0,10631.1,240
1,177073,2009-05-23,7061,LIM,TRU,489,0.0,0,100,4,...,25,0,0,19,9,192,19:20:00,174.0,5453.7,220
2,1040357,2011-05-09,8972,SCL,PUQ,2180,4.0,0,7,1,...,2,0,0,0,10,69,09:54:00,218.0,16161.0,79
3,505258,2010-02-12,6039,CGH,CNF,524,13.0,0,54,4,...,4,0,0,26,0,64,21:00:00,174.0,10828.7,90
4,369663,2009-10-24,7713,GPS,GYE,1170,14.0,0,21,88,...,0,88,1,23,3,183,12:40:00,144.0,16721.6,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999885,359783,2009-10-16,6024,UDI,CGH,552,5.0,0,25,12,...,12,0,0,64,9,0,15:14:00,144.0,14102.1,73
999886,152315,2009-05-03,6669,LIM,HAV,3934,4.0,0,129,3,...,2,20,0,0,118,156,08:50:00,168.0,32907.8,274
999887,1000747,2011-04-04,9094,IQQ,SCL,1430,5.0,0,2,1,...,20,36,0,7,0,124,14:18:00,218.0,13519.3,131
999888,117952,2009-04-04,7704,GYE,SCY,1091,2.0,0,67,2,...,16,0,0,34,2,98,08:05:00,144.0,8729.6,134
999889,305711,2009-09-02,7746,UIO,GYE,283,10.0,0,72,1,...,2,0,0,5,3,119,17:35:00,144.0,3031.0,127

# Limpieza y selección de variables

## Analizando la prescencia de nulos

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999890 entries, 0 to 999889
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Unnamed: 0       999890 non-null  int64
 1   date             999890 non-null  object
 2   fligth_number    999890 non-null  int64
 3   origin           999890 non-null  object
 4   destination      999890 non-null  object
 5   distance         999890 non-null  int64
 6   noshow           999890 non-null  float64
 7   denied_boarding  999890 non-null  int64
 8   pax_midlow       999890 non-null  int64
 9   pax_high         999890 non-null  int64
 10  pax_midhigh      999890 non-null  int64
 11  pax_low          999890 non-null  int64
 12  pax_freqflyer    999890 non-null  int64
 13  group_bookings   999890 non-null  int64
 14  out_of_stock     999890 non-null  int64
 15  dom_cnx          999890 non-null  int64
 16  int_cnx          999890 non-null  int64
 17  p2p              999890 non-null  int64
 18  departure_time   998472 non-null  object
 19  capacity         999890 non-null  float64
 20  revenues_usd     999890 non-null  float64
 21  bookings         999890 non-null  int64
dtypes: float64(3), int64(15), object(4)
memory usage: 167.8+ MB

In [5]:
#date
#origin
#destination
#departure time


df = df.drop(['date', 'origin', 'destination', 'departure_time'], axis = 1)
df
df = df.dropna() # Eliminamos datos nulos.
df = df.reset_index()
#df = df.drop(['level_0', 'index'], axis = 1)
df.shape
display(df)

,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
0,0,389083,8995,1394,9.0,0,94,2,28,94,22,19,0,1,0,239,174.0,10631.1,240
1,1,177073,7061,489,0.0,0,100,4,4,87,25,0,0,19,9,192,174.0,5453.7,220
2,2,1040357,8972,2180,4.0,0,7,1,5,64,2,0,0,0,10,69,218.0,16161.0,79
3,3,505258,6039,524,13.0,0,54,4,7,21,4,0,0,26,0,64,174.0,10828.7,90
4,4,369663,7713,1170,14.0,0,21,88,18,82,0,88,1,23,3,183,144.0,16721.6,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999885,999885,359783,6024,552,5.0,0,25,12,20,4,12,0,0,64,9,0,144.0,14102.1,73
999886,999886,152315,6669,3934,4.0,0,129,3,19,121,2,20,0,0,118,156,168.0,32907.8,274
999887,999887,1000747,9094,1430,5.0,0,2,1,0,108,20,36,0,7,0,124,218.0,13519.3,131
999888,999888,117952,7704,1091,2.0,0,67,2,7,42,16,0,0,34,2,98,144.0,8729.6,134
999889,999889,305711,7746,283,10.0,0,72,1,1,51,2,0,0,5,3,119,144.0,3031.0,127

In [6]:
for columna in df.columns:
    if type(df[columna][0]) != str:
        print(columna.upper())
        print(len(df[columna].unique()))
        display(df[df[columna]%1 != 0])

INDEX
999890

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

UNNAMED: 0
999890

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

FLIGTH_NUMBER
4026

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

DISTANCE
754

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

NOSHOW
115

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

DENIED_BOARDING
35

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_MIDLOW
322

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_HIGH
154

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_MIDHIGH
158

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_LOW
278

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

PAX_FREQFLYER
214

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

GROUP_BOOKINGS
209

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

OUT_OF_STOCK
2

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

DOM_CNX
220

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

INT_CNX
333

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

P2P
422

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

CAPACITY
232

,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
1047,1047,437541,5420,590,12.0,0,83,3,6,54,18,0,0,85,2,77,174.294915,11662.4,164
4698,4698,439135,6076,1182,5.0,0,110,5,9,89,13,0,0,13,26,187,173.705584,14245.5,226
13695,13695,447967,5589,1607,6.0,0,86,0,0,76,20,0,0,13,0,169,174.108276,8832.6,182
22619,22619,443874,5792,657,4.0,0,46,3,11,33,42,0,1,60,0,75,174.264840,6922.3,135
27762,27762,440030,5408,590,6.0,0,84,0,0,53,24,1,0,10,5,146,144.244068,7185.6,161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
952284,952284,454335,5844,2446,18.0,0,59,0,9,34,26,0,0,2,1,125,174.142273,21221.3,128
958702,958702,454360,5916,590,3.0,0,88,0,2,63,10,0,0,57,0,106,174.294915,7709.7,163
959324,959324,439988,6079,1182,2.0,0,108,0,2,95,15,0,0,15,9,196,173.705584,14357.0,220
965548,965548,438992,6079,1182,36.0,0,60,0,0,43,14,0,0,12,3,102,173.705584,7842.8,117
989314,989314,441319,6172,1182,2.0,0,121,0,1,101,14,0,0,17,7,213,173.705584,13139.2,237

REVENUES_USD
310851

,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
0,0,389083,8995,1394,9.0,0,94,2,28,94,22,19,0,1,0,239,174.0,10631.1,240
1,1,177073,7061,489,0.0,0,100,4,4,87,25,0,0,19,9,192,174.0,5453.7,220
3,3,505258,6039,524,13.0,0,54,4,7,21,4,0,0,26,0,64,174.0,10828.7,90
4,4,369663,7713,1170,14.0,0,21,88,18,82,0,88,1,23,3,183,144.0,16721.6,209
5,5,251495,8734,5861,6.0,0,188,4,2,85,20,0,0,0,99,200,279.0,81609.3,299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999884,999884,122579,8878,1430,3.0,0,86,7,51,80,8,39,0,104,5,123,218.0,14169.6,232
999885,999885,359783,6024,552,5.0,0,25,12,20,4,12,0,0,64,9,0,144.0,14102.1,73
999886,999886,152315,6669,3934,4.0,0,129,3,19,121,2,20,0,0,118,156,168.0,32907.8,274
999887,999887,1000747,9094,1430,5.0,0,2,1,0,108,20,36,0,7,0,124,218.0,13519.3,131
999888,999888,117952,7704,1091,2.0,0,67,2,7,42,16,0,0,34,2,98,144.0,8729.6,134

BOOKINGS
581

Empty DataFrame
Columns: [index, Unnamed: 0, fligth_number, distance, noshow, denied_boarding, pax_midlow, pax_high, pax_midhigh, pax_low, pax_freqflyer, group_bookings, out_of_stock, dom_cnx, int_cnx, p2p, capacity, revenues_usd, bookings]
Index: []

In [7]:
df['capacity'].describe()

count    999890.000000
mean        178.056881
std          32.694811
min          53.000000
25%         150.000000
50%         174.000000
75%         174.000000
max         451.000000
Name: capacity, dtype: float64

In [8]:
eliminar = list(df[df['capacity'] % 1 != 0].index)
data = df.drop(eliminar,axis=0)
data = data.reset_index()
data

,level_0,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
0,0,0,389083,8995,1394,9.0,0,94,2,28,94,22,19,0,1,0,239,174.0,10631.1,240
1,1,1,177073,7061,489,0.0,0,100,4,4,87,25,0,0,19,9,192,174.0,5453.7,220
2,2,2,1040357,8972,2180,4.0,0,7,1,5,64,2,0,0,0,10,69,218.0,16161.0,79
3,3,3,505258,6039,524,13.0,0,54,4,7,21,4,0,0,26,0,64,174.0,10828.7,90
4,4,4,369663,7713,1170,14.0,0,21,88,18,82,0,88,1,23,3,183,144.0,16721.6,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999713,999885,999885,359783,6024,552,5.0,0,25,12,20,4,12,0,0,64,9,0,144.0,14102.1,73
999714,999886,999886,152315,6669,3934,4.0,0,129,3,19,121,2,20,0,0,118,156,168.0,32907.8,274
999715,999887,999887,1000747,9094,1430,5.0,0,2,1,0,108,20,36,0,7,0,124,218.0,13519.3,131
999716,999888,999888,117952,7704,1091,2.0,0,67,2,7,42,16,0,0,34,2,98,144.0,8729.6,134
999717,999889,999889,305711,7746,283,10.0,0,72,1,1,51,2,0,0,5,3,119,144.0,3031.0,127

In [9]:
display(data.describe())
print(data.describe().shape)

,level_0,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,pax_low,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings
count,999718.000000,999718.000000,9.997180e+05,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000,999718.000000
mean,499947.870237,499947.870237,6.437456e+05,6109.117706,1460.855778,6.015700,0.047570,75.510574,3.807903,6.319279,57.197498,16.798840,3.829329,0.096225,25.840142,26.708132,107.085820,178.056066,14835.277687,159.634094
std,288642.978213,288642.978213,3.882671e+05,2050.918123,1684.637100,5.112556,0.547211,44.570278,7.251763,10.266169,38.398518,13.836479,12.299626,0.294900,32.263478,43.961292,65.524338,32.696178,17963.999498,68.630524
min,0.000000,0.000000,0.000000e+00,10.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,53.000000,-77206.900000,1.000000
25%,249978.250000,249978.250000,3.116202e+05,5380.000000,538.000000,3.000000,0.000000,46.000000,0.000000,0.000000,29.000000,7.000000,0.000000,0.000000,0.000000,0.000000,59.000000,150.000000,6286.200000,110.000000
50%,499950.500000,499950.500000,6.242615e+05,6036.000000,916.000000,5.000000,0.000000,77.000000,1.000000,3.000000,55.000000,14.000000,0.000000,0.000000,12.000000,5.000000,99.000000,174.000000,9692.200000,151.000000
75%,749916.750000,749916.750000,9.457720e+05,7190.000000,1672.000000,8.000000,0.000000,104.000000,4.000000,8.000000,82.000000,23.000000,0.000000,0.000000,42.000000,31.000000,147.000000,174.000000,15730.900000,200.000000
max,999889.000000,999889.000000,1.350331e+06,9264.000000,11380.000000,271.000000,53.000000,344.000000,195.000000,230.000000,296.000000,236.000000,240.000000,1.000000,262.000000,357.000000,564.000000,451.000000,335775.400000,608.000000

(8, 20)

In [ ]:
sí
fligth_number
noshow
denied_boarding
dom
int_cnx
p2p
capacity
bookings


No
distance porque 2 podrian tener la misma
rebenues


analizar
pax
out of stock

In [10]:
#### Anlizando si 
#* pax_high
#* pax_midhigh
#* pax_midlow
#* pax_low
#* pax_freqflyer
#### están contenidas en bookings
datAnalisis1 = data[["Unnamed: 0","bookings"]]
datAnalisis1["suma"] = data["pax_high"] + data["pax_midhigh"] + data["pax_midlow"] + data["pax_low"] + data["pax_freqflyer"]

count = 0
for i in range(data.shape[0]):
    if (datAnalisis1["bookings"].iloc[i] != datAnalisis1["suma"].iloc[i]):
        print(datAnalisis1["bookings"].iloc[i])
    else: 
        count += 1
        
print("Hay:", count, "coincidencias", "de un total de", datAnalisis1.shape[0], "datos")

#### Conclusión: bookings contiene a esas variables.

C:\Users\sebad\AppData\Local\Temp\ipykernel_64388\3989490445.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Hay: 999718 coincidencias de un total de 999718 datos

In [11]:
#### Para optimizar el número de variables se unen los 2 pax_high y 2 pax_low
data['paxH'] = (data['pax_high'] + data['pax_midhigh'])
data['paxL'] = (data['pax_low'] + data['pax_midlow'])
data

,level_0,index,Unnamed: 0,fligth_number,distance,noshow,denied_boarding,pax_midlow,pax_high,pax_midhigh,...,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,capacity,revenues_usd,bookings,paxH,paxL
0,0,0,389083,8995,1394,9.0,0,94,2,28,...,19,0,1,0,239,174.0,10631.1,240,30,188
1,1,1,177073,7061,489,0.0,0,100,4,4,...,0,0,19,9,192,174.0,5453.7,220,8,187
2,2,2,1040357,8972,2180,4.0,0,7,1,5,...,0,0,0,10,69,218.0,16161.0,79,6,71
3,3,3,505258,6039,524,13.0,0,54,4,7,...,0,0,26,0,64,174.0,10828.7,90,11,75
4,4,4,369663,7713,1170,14.0,0,21,88,18,...,88,1,23,3,183,144.0,16721.6,209,106,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999713,999885,999885,359783,6024,552,5.0,0,25,12,20,...,0,0,64,9,0,144.0,14102.1,73,32,29
999714,999886,999886,152315,6669,3934,4.0,0,129,3,19,...,20,0,0,118,156,168.0,32907.8,274,22,250
999715,999887,999887,1000747,9094,1430,5.0,0,2,1,0,...,36,0,7,0,124,218.0,13519.3,131,1,110
999716,999888,999888,117952,7704,1091,2.0,0,67,2,7,...,0,0,34,2,98,144.0,8729.6,134,9,109
999717,999889,999889,305711,7746,283,10.0,0,72,1,1,...,0,0,5,3,119,144.0,3031.0,127,2,123

In [12]:
######## Anlizando la cantidad de vuelos que denegó abordajes.
data.loc[data.denied_boarding >= 1, 'sum_denied'] = 1
data.loc[data.denied_boarding < 1, 'sum_denied'] = 0
print(data['sum_denied'].sum(), 'vuelos')

13779.0 vuelos

In [13]:
######## Anlizando la cantidad de vuelos que denegó abordajes.
data.loc[data.out_of_stock >= 1, 'sum_out_stock'] = 1
data.loc[data.denied_boarding < 1, 'sum_out_stock'] = 0
print(data['sum_out_stock'].sum(), 'vuelos')

4440.0 vuelos

In [14]:
######## Anlizando la cantidad de vuelos que denegó abordajes.
data.loc[data.noshow >= 1, 'sum_noshow'] = 1
data.loc[data.noshow < 1, 'sum_noshow'] = 0
print(data['sum_noshow'].sum(), 'vuelos')

928632.0 vuelos

In [15]:
dataUsar = data[['fligth_number',
                 'dom_cnx', 'int_cnx', 'p2p', 'capacity',
                 'bookings', 'paxL', 'paxH',
                 'pax_freqflyer', 'group_bookings','revenues_usd']]
dataUsar

,fligth_number,dom_cnx,int_cnx,p2p,capacity,bookings,paxL,paxH,pax_freqflyer,group_bookings,revenues_usd
0,8995,1,0,239,174.0,240,188,30,22,19,10631.1
1,7061,19,9,192,174.0,220,187,8,25,0,5453.7
2,8972,0,10,69,218.0,79,71,6,2,0,16161.0
3,6039,26,0,64,174.0,90,75,11,4,0,10828.7
4,7713,23,3,183,144.0,209,103,106,0,88,16721.6
...,...,...,...,...,...,...,...,...,...,...,...
999713,6024,64,9,0,144.0,73,29,32,12,0,14102.1
999714,6669,0,118,156,168.0,274,250,22,2,20,32907.8
999715,9094,7,0,124,218.0,131,110,1,20,36,13519.3
999716,7704,34,2,98,144.0,134,109,9,16,0,8729.6
999717,7746,5,3,119,144.0,127,123,2,2,0,3031.0

In [16]:
scaler = StandardScaler()
scaler.fit(dataUsar)

data_estandar = pd.DataFrame(scaler.transform(dataUsar), columns=dataUsar.columns)
data_estandar['noshow'] = data['noshow']
data_estandar

,fligth_number,dom_cnx,int_cnx,p2p,capacity,bookings,paxL,paxH,pax_freqflyer,group_bookings,revenues_usd,noshow
0,1.407118,-0.769916,-0.607538,2.013210,-0.124053,1.170994,0.830775,1.398776,0.375902,1.233426,-0.234034,9.0
1,0.464125,-0.212009,-0.402812,1.295919,-0.124053,0.879579,0.815749,-0.149725,0.592720,-0.311337,-0.522244,0.0
2,1.395903,-0.800910,-0.380065,-0.581247,1.221670,-1.174902,-0.927179,-0.290497,-1.069553,-0.311337,0.073799,4.0
3,-0.034188,0.004955,-0.607538,-0.657555,-0.124053,-1.014623,-0.867078,0.061435,-0.925007,-0.311337,-0.223034,13.0
4,0.782032,-0.088030,-0.539296,1.158565,-1.041592,0.719300,-0.446371,6.748140,-1.214098,6.843356,0.105006,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...
999713,-0.041502,1.182758,-0.402812,-1.634292,-1.041592,-1.262327,-1.558239,1.539548,-0.346825,-0.311337,-0.040814,5.0
999714,0.272991,-0.800910,2.076643,0.746504,-0.307561,1.666401,1.762340,0.835685,-1.069553,1.314729,1.006042,4.0
999715,1.455389,-0.583947,-0.607538,0.258136,1.221670,-0.417221,-0.341194,-0.642429,0.231357,2.615583,-0.073256,5.0
999716,0.777643,0.252913,-0.562043,-0.138663,-1.041592,-0.373509,-0.356220,-0.079338,-0.057734,-0.311337,-0.339884,2.0
999717,0.798122,-0.645936,-0.539296,0.181828,-1.041592,-0.475504,-0.145866,-0.572043,-1.069553,-0.311337,-0.657108,10.0

In [17]:
def calculate_sMAPE(actual, predicted): 
    flag = []
    
    for a,p in zip(actual, predicted):
        
        if a == 0 and p == 0:
            flag.append(0)
            
        else:
            flag.append(np.abs(a - p) / (np.abs(a) + np.abs(p)))
            
            
    return  round(np.mean(flag)*100, 4), round(np.std(flag), 4)

In [19]:
countm = 1

for NN in range(5, 999718, 100):
    
    print('')
    print(f'Modelo {countm}: {NN} vecinos')
    countm += 1

    kf = KFold(n_splits=10,shuffle=False)
    print(kf)
    #Generando los k-fold
    temp = kf.split(data_estandar)
    count = 1

    means = []
    stds = []

    for train_index, test_index in temp:

        print('')
        print('ITERACIÓN', count)


        lista_train_index = list(train_index)
        lista_test_index = list(test_index)

        X_train = data_estandar.iloc[lista_train_index,0:-1]
        y_train = data_estandar.iloc[lista_train_index,-1]

        X_test = data_estandar.iloc[lista_test_index,0:-1]
        y_test = np.array(data_estandar.iloc[lista_test_index, -1])


        KNN = KNeighborsClassifier(n_neighbors = NN, weights="uniform", n_jobs = -1)

        KNN=KNN.fit(X_train,y_train)


        #Aplicando el modelo a otros datos
        resultado = KNN.predict(X_test)
        print("Resultado de la predicción:",resultado)
        print("Resultado original        :",y_test)


        mean, std = calculate_sMAPE(resultado, y_test)


        print(f'Error {count}: {mean} +- {std}')

        count += 1


        means.append(mean)
        stds.append(std)


    print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

Modelo 1: 5 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [ 0. 10.  1. ...  2.  1.  2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 49.1951 +- 0.3394

ITERACIÓN 2
Resultado de la predicción: [0. 2. 2. ... 1. 5. 5.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 49.0953 +- 0.3382

ITERACIÓN 3
Resultado de la predicción: [1. 0. 6. ... 3. 4. 4.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 49.0843 +- 0.3385

ITERACIÓN 4
Resultado de la predicción: [2. 3. 0. ... 0. 2. 1.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 49.0 +- 0.3386

ITERACIÓN 5
Resultado de la predicción: [ 1. 11.  3. ...  3.  5.  9.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 48.984 +- 0.339

ITERACIÓN 6
Resultado de la predicción: [5. 2. 0. ... 8. 0. 5.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 49.2022 +- 0.3387

ITERACIÓN 7
Resultado de la predicción: [4. 0. 2. ... 6. 1. 8.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 48.9494 +- 0.338

ITERACIÓN 8
Resultado de la predicción: [ 6.  5.  1. ...  3. 10.  2.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 49.1973 +- 0.338

ITERACIÓN 9
Resultado de la predicción: [4. 9. 3. ... 8. 4. 3.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 49.0244 +- 0.3384

ITERACIÓN 10
Resultado de la predicción: [ 5.  0.  0. ... 12.  5.  7.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 49.0966 +- 0.339
vecinos = 5, error =  49.08 +- 0.34

Modelo 2: 105 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 7. 9. ... 5. 2. 2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 40.1351 +- 0.3129

ITERACIÓN 2
Resultado de la predicción: [ 5.  2.  4. ...  0.  5. 11.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.9846 +- 0.3121

ITERACIÓN 3
Resultado de la predicción: [2. 3. 4. ... 3. 6. 0.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 40.1942 +- 0.3124

ITERACIÓN 4
Resultado de la predicción: [2. 5. 0. ... 0. 1. 5.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 40.1173 +- 0.3115

ITERACIÓN 5
Resultado de la predicción: [0. 0. 6. ... 3. 6. 6.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 39.9803 +- 0.3115

ITERACIÓN 6
Resultado de la predicción: [1. 0. 0. ... 8. 5. 3.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 40.1268 +- 0.3112

ITERACIÓN 7
Resultado de la predicción: [4. 0. 4. ... 0. 6. 8.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 39.982 +- 0.3111

ITERACIÓN 8
Resultado de la predicción: [6. 2. 2. ... 3. 8. 4.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 40.0157 +- 0.3111

ITERACIÓN 9
Resultado de la predicción: [5. 7. 7. ... 7. 0. 3.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 40.1915 +- 0.3126

ITERACIÓN 10
Resultado de la predicción: [4. 0. 3. ... 5. 4. 3.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 40.1145 +- 0.312
vecinos = 105, error =  40.08 +- 0.31

Modelo 3: 205 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 7. 9. ... 5. 4. 2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 39.7391 +- 0.3126

ITERACIÓN 2
Resultado de la predicción: [ 5.  3.  4. ...  0.  5. 11.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.673 +- 0.3115

ITERACIÓN 3
Resultado de la predicción: [5. 3. 4. ... 5. 6. 1.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 39.8119 +- 0.3121

ITERACIÓN 4
Resultado de la predicción: [7. 8. 4. ... 6. 1. 6.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 39.5172 +- 0.3108

ITERACIÓN 5
Resultado de la predicción: [0. 0. 6. ... 3. 7. 5.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 39.6303 +- 0.3107

ITERACIÓN 6
Resultado de la predicción: [1. 0. 0. ... 2. 3. 3.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 39.6458 +- 0.311

ITERACIÓN 7
Resultado de la predicción: [4. 0. 3. ... 1. 3. 8.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 39.5811 +- 0.3112

ITERACIÓN 8
Resultado de la predicción: [ 3.  2.  2. ...  3. 12.  4.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 39.7513 +- 0.3111

ITERACIÓN 9
Resultado de la predicción: [5. 7. 4. ... 7. 0. 4.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 39.738 +- 0.3117

ITERACIÓN 10
Resultado de la predicción: [4. 4. 3. ... 5. 4. 4.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 39.6392 +- 0.3104
vecinos = 205, error =  39.67 +- 0.31

Modelo 4: 305 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 7. 7. ... 2. 4. 2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 39.5925 +- 0.312

ITERACIÓN 2
Resultado de la predicción: [4. 4. 4. ... 0. 4. 7.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.3966 +- 0.3113

ITERACIÓN 3
Resultado de la predicción: [5. 3. 4. ... 5. 6. 2.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 39.5668 +- 0.3113

ITERACIÓN 4
Resultado de la predicción: [7. 8. 0. ... 4. 1. 6.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 39.4005 +- 0.3106

ITERACIÓN 5
Resultado de la predicción: [1. 2. 4. ... 7. 6. 5.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 39.4005 +- 0.3101

ITERACIÓN 6
Resultado de la predicción: [1. 0. 0. ... 2. 5. 3.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 39.6528 +- 0.3111

ITERACIÓN 7
Resultado de la predicción: [6. 0. 6. ... 1. 3. 5.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 39.3632 +- 0.3111

ITERACIÓN 8
Resultado de la predicción: [5. 2. 2. ... 3. 6. 4.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 39.6381 +- 0.3111

ITERACIÓN 9
Resultado de la predicción: [5. 3. 4. ... 8. 0. 4.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 39.5797 +- 0.3115

ITERACIÓN 10
Resultado de la predicción: [2. 4. 3. ... 5. 4. 7.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 39.4734 +- 0.3101
vecinos = 305, error =  39.51 +- 0.31

Modelo 5: 405 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 7. 7. ... 5. 4. 2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 39.4841 +- 0.312

ITERACIÓN 2
Resultado de la predicción: [4. 3. 4. ... 0. 4. 7.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.259 +- 0.3116

ITERACIÓN 3
Resultado de la predicción: [5. 3. 8. ... 5. 6. 4.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 39.4573 +- 0.3111

ITERACIÓN 4
Resultado de la predicción: [3. 8. 4. ... 4. 1. 6.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 39.3378 +- 0.3101

ITERACIÓN 5
Resultado de la predicción: [0. 2. 5. ... 4. 6. 5.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 39.2718 +- 0.3096

ITERACIÓN 6
Resultado de la predicción: [1. 0. 0. ... 2. 3. 3.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 39.5123 +- 0.3108

ITERACIÓN 7
Resultado de la predicción: [6. 0. 6. ... 0. 4. 5.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 39.2454 +- 0.3107

ITERACIÓN 8
Resultado de la predicción: [ 5.  4.  2. ...  3. 11.  4.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 39.5185 +- 0.3111

ITERACIÓN 9
Resultado de la predicción: [5. 8. 4. ... 8. 0. 4.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 39.4455 +- 0.3112

ITERACIÓN 10
Resultado de la predicción: [2. 3. 3. ... 5. 4. 7.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 39.4032 +- 0.3102
vecinos = 405, error =  39.39 +- 0.31

Modelo 6: 505 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 7. 7. ... 5. 4. 2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 39.4226 +- 0.3118

ITERACIÓN 2
Resultado de la predicción: [4. 3. 4. ... 0. 5. 6.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.2797 +- 0.3114

ITERACIÓN 3
Resultado de la predicción: [5. 3. 8. ... 2. 6. 2.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 39.4475 +- 0.3113

ITERACIÓN 4
Resultado de la predicción: [3. 8. 3. ... 4. 1. 6.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 39.2253 +- 0.3098

ITERACIÓN 5
Resultado de la predicción: [1. 3. 5. ... 4. 6. 8.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 39.1791 +- 0.3092

ITERACIÓN 6
Resultado de la predicción: [1. 0. 0. ... 2. 3. 3.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 39.3845 +- 0.3101

ITERACIÓN 7
Resultado de la predicción: [6. 3. 6. ... 0. 4. 5.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 39.1759 +- 0.3102

ITERACIÓN 8
Resultado de la predicción: [ 5.  2.  2. ...  3. 10.  4.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 39.4014 +- 0.311

ITERACIÓN 9
Resultado de la predicción: [5. 7. 4. ... 8. 0. 4.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 39.3841 +- 0.311

ITERACIÓN 10
Resultado de la predicción: [4. 3. 3. ... 8. 4. 7.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 39.3669 +- 0.31
vecinos = 505, error =  39.33 +- 0.31

Modelo 7: 605 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 7. 5. ... 5. 4. 2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 39.3357 +- 0.3116

ITERACIÓN 2
Resultado de la predicción: [5. 3. 4. ... 0. 5. 6.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.2275 +- 0.3113

ITERACIÓN 3
Resultado de la predicción: [4. 3. 8. ... 2. 6. 3.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 39.3534 +- 0.3108

ITERACIÓN 4
Resultado de la predicción: [3. 8. 3. ... 4. 1. 6.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 39.1283 +- 0.3095

ITERACIÓN 5
Resultado de la predicción: [1. 2. 5. ... 4. 6. 8.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 39.1555 +- 0.3094

ITERACIÓN 6
Resultado de la predicción: [2. 0. 0. ... 4. 3. 4.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 39.3172 +- 0.3105

ITERACIÓN 7
Resultado de la predicción: [6. 1. 6. ... 0. 3. 5.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 39.1765 +- 0.3105

ITERACIÓN 8
Resultado de la predicción: [ 5.  2.  2. ...  3. 10.  3.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 39.3912 +- 0.3109

ITERACIÓN 9
Resultado de la predicción: [4. 5. 4. ... 7. 0. 4.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 39.3237 +- 0.3108

ITERACIÓN 10
Resultado de la predicción: [4. 3. 3. ... 8. 4. 7.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 39.2344 +- 0.3094
vecinos = 605, error =  39.26 +- 0.31

Modelo 8: 705 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 7. 6. ... 5. 4. 2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 39.2999 +- 0.3116

ITERACIÓN 2
Resultado de la predicción: [5. 3. 4. ... 0. 5. 7.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.155 +- 0.3109

ITERACIÓN 3
Resultado de la predicción: [5. 3. 8. ... 2. 5. 1.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 39.3496 +- 0.3107

ITERACIÓN 4
Resultado de la predicción: [3. 8. 3. ... 5. 1. 6.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 39.1099 +- 0.3097

ITERACIÓN 5
Resultado de la predicción: [1. 3. 5. ... 4. 8. 6.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 39.0889 +- 0.3094

ITERACIÓN 6
Resultado de la predicción: [2. 0. 0. ... 4. 3. 4.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 39.2963 +- 0.3106

ITERACIÓN 7
Resultado de la predicción: [6. 1. 3. ... 0. 4. 5.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 39.1048 +- 0.3105

ITERACIÓN 8
Resultado de la predicción: [ 5.  2.  2. ...  3. 10.  4.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 39.3245 +- 0.3104

ITERACIÓN 9
Resultado de la predicción: [5. 5. 4. ... 8. 0. 4.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 39.2889 +- 0.3107

ITERACIÓN 10
Resultado de la predicción: [2. 0. 3. ... 8. 4. 7.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 39.2104 +- 0.3094
vecinos = 705, error =  39.22 +- 0.31

Modelo 9: 805 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 7. 6. ... 5. 4. 2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 39.2642 +- 0.3113

ITERACIÓN 2
Resultado de la predicción: [3. 3. 4. ... 0. 5. 7.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.1701 +- 0.3111

ITERACIÓN 3
Resultado de la predicción: [5. 3. 8. ... 2. 5. 4.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 39.2947 +- 0.3108

ITERACIÓN 4
Resultado de la predicción: [3. 8. 3. ... 3. 1. 6.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 39.0307 +- 0.3093

ITERACIÓN 5
Resultado de la predicción: [0. 3. 3. ... 4. 8. 8.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 39.0189 +- 0.3092

ITERACIÓN 6
Resultado de la predicción: [2. 2. 0. ... 4. 3. 4.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 39.2057 +- 0.3106

ITERACIÓN 7
Resultado de la predicción: [6. 3. 3. ... 0. 4. 6.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 39.0674 +- 0.3101

ITERACIÓN 8
Resultado de la predicción: [ 5.  3.  2. ...  3. 10.  4.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 39.2504 +- 0.3106

ITERACIÓN 9
Resultado de la predicción: [5. 6. 4. ... 8. 0. 4.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 39.26 +- 0.3105

ITERACIÓN 10
Resultado de la predicción: [4. 0. 4. ... 8. 4. 7.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 39.1739 +- 0.309
vecinos = 805, error =  39.17 +- 0.31

Modelo 10: 905 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 7. 6. ... 5. 4. 2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 39.2698 +- 0.3113

ITERACIÓN 2
Resultado de la predicción: [3. 3. 4. ... 0. 5. 7.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.1115 +- 0.3111

ITERACIÓN 3
Resultado de la predicción: [3. 3. 7. ... 2. 5. 4.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 39.2559 +- 0.3104

ITERACIÓN 4
Resultado de la predicción: [3. 8. 2. ... 3. 0. 6.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 39.0285 +- 0.3093

ITERACIÓN 5
Resultado de la predicción: [0. 3. 6. ... 4. 8. 8.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 39.0101 +- 0.3091

ITERACIÓN 6
Resultado de la predicción: [2. 0. 0. ... 7. 3. 4.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 39.1856 +- 0.3105

ITERACIÓN 7
Resultado de la predicción: [6. 3. 5. ... 0. 4. 6.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 39.0448 +- 0.31

ITERACIÓN 8
Resultado de la predicción: [ 5.  2.  2. ...  3. 10.  4.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 39.2196 +- 0.3101

ITERACIÓN 9
Resultado de la predicción: [5. 6. 4. ... 8. 0. 4.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 39.2218 +- 0.3104

ITERACIÓN 10
Resultado de la predicción: [2. 0. 4. ... 8. 4. 7.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 39.1091 +- 0.309
vecinos = 905, error =  39.15 +- 0.31

Modelo 11: 1005 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 7. 6. ... 5. 4. 3.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 39.1922 +- 0.3111

ITERACIÓN 2
Resultado de la predicción: [3. 2. 4. ... 0. 4. 7.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.1009 +- 0.3109

ITERACIÓN 3
Resultado de la predicción: [3. 3. 7. ... 2. 5. 3.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 39.2047 +- 0.3102

ITERACIÓN 4
Resultado de la predicción: [3. 8. 3. ... 3. 0. 4.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 39.0111 +- 0.3092

ITERACIÓN 5
Resultado de la predicción: [0. 3. 6. ... 4. 8. 8.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 38.9692 +- 0.3092

ITERACIÓN 6
Resultado de la predicción: [2. 0. 0. ... 4. 3. 4.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 39.1228 +- 0.3104

ITERACIÓN 7
Resultado de la predicción: [6. 3. 5. ... 0. 3. 6.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 39.0167 +- 0.3098

ITERACIÓN 8
Resultado de la predicción: [ 5.  0.  2. ...  3. 10.  4.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 39.219 +- 0.3103

ITERACIÓN 9
Resultado de la predicción: [5. 6. 3. ... 7. 0. 4.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 39.1313 +- 0.3103

ITERACIÓN 10
Resultado de la predicción: [3. 0. 4. ... 8. 4. 7.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 39.099 +- 0.3086
vecinos = 1005, error =  39.11 +- 0.31

Modelo 12: 1105 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 7. 5. ... 5. 4. 2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 39.161 +- 0.3109

ITERACIÓN 2
Resultado de la predicción: [3. 2. 4. ... 0. 5. 7.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.1 +- 0.311

ITERACIÓN 3
Resultado de la predicción: [5. 3. 8. ... 2. 5. 3.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 39.1723 +- 0.3105

ITERACIÓN 4
Resultado de la predicción: [2. 8. 3. ... 2. 0. 4.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 38.9731 +- 0.3092

ITERACIÓN 5
Resultado de la predicción: [0. 3. 6. ... 4. 6. 6.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 38.9594 +- 0.3086

ITERACIÓN 6
Resultado de la predicción: [2. 0. 0. ... 4. 3. 4.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 39.1358 +- 0.3105

ITERACIÓN 7
Resultado de la predicción: [6. 3. 5. ... 0. 4. 6.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 39.0114 +- 0.3098

ITERACIÓN 8
Resultado de la predicción: [ 5.  3.  2. ...  3. 10.  4.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 39.1774 +- 0.3105

ITERACIÓN 9
Resultado de la predicción: [5. 6. 4. ... 8. 0. 4.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 39.1458 +- 0.3105

ITERACIÓN 10
Resultado de la predicción: [2. 0. 3. ... 8. 4. 7.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 39.0663 +- 0.3087
vecinos = 1105, error =  39.09 +- 0.31

Modelo 13: 1205 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 5. 5. ... 5. 4. 3.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 39.1343 +- 0.3106

ITERACIÓN 2
Resultado de la predicción: [3. 2. 4. ... 0. 4. 7.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.1016 +- 0.311

ITERACIÓN 3
Resultado de la predicción: [3. 3. 7. ... 2. 5. 3.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 39.1698 +- 0.3102

ITERACIÓN 4
Resultado de la predicción: [2. 8. 3. ... 2. 0. 4.]

In [18]:
countm = 1

NN=1000

print('')
print(f'Modelo {countm}: {NN} vecinos')
countm += 1

kf = KFold(n_splits=10,shuffle=False)
print(kf)
#Generando los k-fold
temp = kf.split(data_estandar)
count = 1

means = []
stds = []

for train_index, test_index in temp:

    print('')
    print('ITERACIÓN', count)


    lista_train_index = list(train_index)
    lista_test_index = list(test_index)

    X_train = data_estandar.iloc[lista_train_index,0:-1]
    y_train = data_estandar.iloc[lista_train_index,-1]

    X_test = data_estandar.iloc[lista_test_index,0:-1]
    y_test = np.array(data_estandar.iloc[lista_test_index, -1])


    KNN = KNeighborsClassifier(n_neighbors = NN, weights="uniform", n_jobs = -1)

    KNN=KNN.fit(X_train,y_train)


    #Aplicando el modelo a otros datos
    resultado = KNN.predict(X_test)
    print("Resultado de la predicción:",resultado)
    print("Resultado original        :",y_test)


    mean, std = calculate_sMAPE(resultado, y_test)


    print(f'Error {count}: {mean} +- {std}')

    count += 1


    means.append(mean)
    stds.append(std)


print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

Modelo 1: 1000 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 7. 6. ... 5. 4. 2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 38.7865 +- 0.3098

ITERACIÓN 2
Resultado de la predicción: [3. 3. 4. ... 0. 3. 7.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 38.7985 +- 0.3102

ITERACIÓN 3
Resultado de la predicción: [3. 3. 6. ... 2. 5. 4.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 3: 38.9004 +- 0.3095

ITERACIÓN 4
Resultado de la predicción: [2. 8. 4. ... 5. 1. 6.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 4: 38.6562 +- 0.3084

ITERACIÓN 5
Resultado de la predicción: [0. 3. 5. ... 4. 8. 6.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 5: 38.6655 +- 0.3082

ITERACIÓN 6
Resultado de la predicción: [4. 0. 0. ... 4. 3. 4.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 6: 38.8384 +- 0.3097

ITERACIÓN 7
Resultado de la predicción: [6. 2. 5. ... 6. 4. 6.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 7: 38.67 +- 0.3094

ITERACIÓN 8
Resultado de la predicción: [ 5.  2.  2. ...  3. 10.  4.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 8: 38.8213 +- 0.309

ITERACIÓN 9
Resultado de la predicción: [5. 6. 4. ... 6. 0. 4.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 9: 38.788 +- 0.3094

ITERACIÓN 10
Resultado de la predicción: [3. 3. 3. ... 8. 4. 7.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 10: 38.7735 +- 0.3084
vecinos = 1000, error =  38.77 +- 0.31

In [19]:
countm = 1

NN=5000

print('')
print(f'Modelo {countm}: {NN} vecinos')
countm += 1

kf = KFold(n_splits=10,shuffle=False)
print(kf)
#Generando los k-fold
temp = kf.split(data_estandar)
count = 1

means = []
stds = []

for train_index, test_index in temp:

    print('')
    print('ITERACIÓN', count)


    lista_train_index = list(train_index)
    lista_test_index = list(test_index)

    X_train = data_estandar.iloc[lista_train_index,0:-1]
    y_train = data_estandar.iloc[lista_train_index,-1]

    X_test = data_estandar.iloc[lista_test_index,0:-1]
    y_test = np.array(data_estandar.iloc[lista_test_index, -1])


    KNN = KNeighborsClassifier(n_neighbors = NN, weights="uniform", n_jobs = -1)

    KNN=KNN.fit(X_train,y_train)


    #Aplicando el modelo a otros datos
    resultado = KNN.predict(X_test)
    print("Resultado de la predicción:",resultado)
    print("Resultado original        :",y_test)


    mean, std = calculate_sMAPE(resultado, y_test)


    print(f'Error {count}: {mean} +- {std}')

    count += 1


    means.append(mean)
    stds.append(std)


print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

Modelo 1: 5000 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [6. 4. 4. ... 5. 4. 3.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 38.7331 +- 0.3078

ITERACIÓN 2

In [18]:
countm = 1

NN=10000

print('')
print(f'Modelo {countm}: {NN} vecinos')
countm += 1

kf = KFold(n_splits=10,shuffle=False)
print(kf)
#Generando los k-fold
temp = kf.split(data_estandar)
count = 1

means = []
stds = []

for train_index, test_index in temp:

    print('')
    print('ITERACIÓN', count)


    lista_train_index = list(train_index)
    lista_test_index = list(test_index)

    X_train = data_estandar.iloc[lista_train_index,0:-1]
    y_train = data_estandar.iloc[lista_train_index,-1]

    X_test = data_estandar.iloc[lista_test_index,0:-1]
    y_test = np.array(data_estandar.iloc[lista_test_index, -1])


    KNN = KNeighborsClassifier(n_neighbors = NN, weights="uniform", n_jobs = -1)

    KNN=KNN.fit(X_train,y_train)


    #Aplicando el modelo a otros datos
    resultado = KNN.predict(X_test)
    print("Resultado de la predicción:",resultado)
    print("Resultado original        :",y_test)


    mean, std = calculate_sMAPE(resultado, y_test)


    print(f'Error {count}: {mean} +- {std}')

    count += 1


    means.append(mean)
    stds.append(std)


print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

Modelo 1: 10000 vecinos
KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 4. 5. ... 5. 4. 3.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 38.6524 +- 0.306

ITERACIÓN 2
Resultado de la predicción: [3. 0. 4. ... 0. 3. 5.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 38.6178 +- 0.3057

ITERACIÓN 3

# IGNORAR

In [ ]:
NN = 300
kf = KFold(n_splits=10,shuffle=False)
print(kf)
#Generando los k-fold
temp = kf.split(data_estandar)
count = 1

means = []
stds = []

for train_index, test_index in temp:
    
    print('')
    print('ITERACIÓN', count)
    
    
    lista_train_index = list(train_index)
    lista_test_index = list(test_index)
    
    X_train = data_estandar.iloc[lista_train_index,0:-1]
    y_train = data_estandar.iloc[lista_train_index,-1]
    
    X_test = data_estandar.iloc[lista_test_index,0:-1]
    y_test = np.array(data_estandar.iloc[lista_test_index, -1])
    
    
    KNN = KNeighborsClassifier(n_neighbors = NN, weights="uniform", n_jobs = -1)

    KNN=KNN.fit(X_train,y_train)
    
    
    #Aplicando el modelo a otros datos
    resultado = KNN.predict(X_test)
    print("Resultado de la predicción:",resultado)
    print("Resultado original        :",y_test)
    
        
    mean, std = calculate_sMAPE(resultado, y_test)

    
    print(f'Error {count}: {mean} +- {std}')

    count += 1

    
    means.append(mean)
    stds.append(std)

    
print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [7. 7. 5. ... 2. 4. 2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 1: 39.6232 +- 0.3122

ITERACIÓN 2
Resultado de la predicción: [4. 4. 4. ... 0. 4. 9.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 2: 39.3848 +- 0.3114

ITERACIÓN 3

In [ ]:
NN = 3000
kf = KFold(n_splits=10,shuffle=False)
print(kf)
#Generando los k-fold
temp = kf.split(data_estandar)
count = 1

means = []
stds = []

for train_index, test_index in temp:
    
    print('')
    print('ITERACIÓN', count)
    
    
    lista_train_index = list(train_index)
    lista_test_index = list(test_index)
    
    X_train = data_estandar.iloc[lista_train_index,0:-1]
    y_train = data_estandar.iloc[lista_train_index,-1]
    
    X_test = data_estandar.iloc[lista_test_index,0:-1]
    y_test = np.array(data_estandar.iloc[lista_test_index, -1])
    
    
    KNN = KNeighborsClassifier(n_neighbors = NN, weights="uniform", n_jobs = -1)

    KNN=KNN.fit(X_train,y_train)
    
    
    #Aplicando el modelo a otros datos
    resultado = KNN.predict(X_test)
    print("Resultado de la predicción:",resultado)
    print("Resultado original        :",y_test)
    
        
    mean, std = calculate_sMAPE(resultado, y_test)

    
    print(f'Error {count}: {mean} +- {std}')

    count += 1

    
    means.append(mean)
    stds.append(std)

    
print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

In [67]:

kf = KFold(n_splits=10,shuffle=False)
print(kf)
#Generando los k-fold
temp = kf.split(dataUsar)
count = 1

for train_index, test_index in temp:
    
    print('')
    print('ITERACIÓN', count)
    
    
    lista_train_index = list(train_index)
    lista_test_index = list(test_index)
    
    X_train = dataUsar.iloc[lista_train_index,0:11]
    y_train = dataUsar.iloc[lista_train_index,11]
    
    X_test = dataUsar.iloc[lista_test_index,0:11]
    y_test = np.array(dataUsar.iloc[lista_test_index,11])
    
    
    KNN = KNeighborsClassifier(n_neighbors=3,weights="uniform")

    KNN=KNN.fit(X_train,y_train)
    
    
    #Aplicando el modelo a otros datos
    resultado = KNN.predict(X_test)
    print("Resultado de la predicción:",resultado)
    print("Resultado original        :",y_test)
    
        
    mean, std = calculate_sMAPE(resultado, y_test)

    
    print(f'Error {count}: {mean} +- {std}')

    count += 1

KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Resultado de la predicción: [4. 0. 2. ... 1. 2. 2.]
Resultado original        : [9. 0. 4. ... 5. 3. 5.]
Error 2: 47.6006 +- 0.3343

ITERACIÓN 2
Resultado de la predicción: [0. 0. 2. ... 0. 5. 5.]
Resultado original        : [ 4.  2. 11. ...  0.  4.  6.]
Error 3: 47.4069 +- 0.3338

ITERACIÓN 3
Resultado de la predicción: [2. 8. 2. ... 1. 6. 0.]
Resultado original        : [ 6. 17.  9. ...  7.  3.  1.]
Error 4: 47.5737 +- 0.3345

ITERACIÓN 4
Resultado de la predicción: [2. 4. 7. ... 2. 1. 2.]
Resultado original        : [ 4.  6. 12. ... 16. 13.  3.]
Error 5: 47.3524 +- 0.3336

ITERACIÓN 5
Resultado de la predicción: [ 3.  5.  9. ... 10.  5.  9.]
Resultado original        : [ 5. 10.  6. ...  5.  6.  8.]
Error 6: 47.3793 +- 0.3335

ITERACIÓN 6
Resultado de la predicción: [2. 0. 1. ... 7. 6. 3.]
Resultado original        : [ 7. 11.  5. ...  2.  6.  5.]
Error 7: 47.4378 +- 0.334

ITERACIÓN 7
Resultado de la predicción: [3. 4. 3. ... 2. 0. 5.]
Resultado original        : [11.  1. 16. ...  5.  3.  4.]
Error 8: 47.3293 +- 0.3335

ITERACIÓN 8
Resultado de la predicción: [3. 0. 2. ... 5. 3. 4.]
Resultado original        : [11.  1.  0. ...  1. 21.  7.]
Error 9: 47.3863 +- 0.333

ITERACIÓN 9
Resultado de la predicción: [3. 4. 3. ... 9. 2. 3.]
Resultado original        : [ 4.  2. 10. ...  3.  4.  6.]
Error 10: 47.5816 +- 0.3342

ITERACIÓN 10
Resultado de la predicción: [1. 3. 5. ... 5. 3. 0.]
Resultado original        : [ 3.  5. 28. ...  5.  2. 10.]
Error 11: 47.4906 +- 0.3338

In [18]:
NN = 5

kf = KFold(n_splits=10,shuffle=False)
print(kf)
#Generando los k-fold
temp = kf.split(dataUsar)
count = 1

means = []
stds = []

for train_index, test_index in temp:
    
    
    print('')
    print('ITERACIÓN', count)
    
    
    lista_train_index = list(train_index)
    lista_test_index = list(test_index)
    
    X_train = dataUsar.iloc[lista_train_index,0:11]
    y_train = dataUsar.iloc[lista_train_index,11]
    
    X_test = dataUsar.iloc[lista_test_index,0:11]
    y_test = np.array(dataUsar.iloc[lista_test_index,11])
    
    
    KNN = KNeighborsClassifier(n_neighbors = NN,weights="uniform")

    KNN=KNN.fit(X_train,y_train)
    
    
    #Aplicando el modelo a otros datos
    
    resultado = KNN.predict(X_test)
    
    #print("Resultado de la predicción:",resultado)
    #print("Resultado original        :",y_test)
    
        
    mean, std = calculate_sMAPE(resultado, y_test)
    
    print(f'Error {count} = {mean} +- {std}')
    
    means.append(mean)
    stds.append(std)

    count += 1
    
    
print(f'vecinos = {NN}, error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Error 1 = 47.8316 +- 0.3379

ITERACIÓN 2
Error 2 = 47.557 +- 0.3358

ITERACIÓN 3
Error 3 = 47.7918 +- 0.3372

ITERACIÓN 4
Error 4 = 47.5642 +- 0.3365

ITERACIÓN 5
Error 5 = 47.4822 +- 0.3363

ITERACIÓN 6
Error 6 = 47.5796 +- 0.3362

ITERACIÓN 7
Error 7 = 47.566 +- 0.3362

ITERACIÓN 8
Error 8 = 47.7201 +- 0.3358

ITERACIÓN 9
Error 9 = 47.742 +- 0.3364

ITERACIÓN 10
Error 10 = 47.5008 +- 0.3365
vecinos = 5, error =  47.63 +- 0.34

In [22]:

NN = 1000

kf = KFold(n_splits = 10,shuffle=False)
print(kf)
#Generando los k-fold
temp = kf.split(dataUsar)
count = 1

means = []
stds = []

for train_index, test_index in temp:


    print('')
    print('ITERACIÓN', count)


    lista_train_index = list(train_index)
    lista_test_index = list(test_index)

    X_train = dataUsar.iloc[lista_train_index,0:11]
    y_train = dataUsar.iloc[lista_train_index,11]

    X_test = dataUsar.iloc[lista_test_index,0:11]
    y_test = np.array(dataUsar.iloc[lista_test_index,11])


    KNN = KNeighborsClassifier(n_neighbors = NN,weights="uniform")

    KNN=KNN.fit(X_train,y_train)


    #Aplicando el modelo a otros datos
    resultado = KNN.predict(X_test)
    #print("Resultado de la predicción:",resultado)
    #print("Resultado original        :",y_test)


    mean, std = calculate_sMAPE(resultado, y_test)

    means.append(mean)
    stds.append(std)


    print(f'Error {count} = {mean} +- {std}')

    count += 1

print('')
print(f'vecinos = {NN}  , error =  {round(np.mean(means), 2)} +- {round(np.mean(stds), 2)} ')

KFold(n_splits=10, random_state=None, shuffle=False)

ITERACIÓN 1
Error 1 = 39.0047 +- 0.3151

ITERACIÓN 2
Error 2 = 38.9644 +- 0.3139

ITERACIÓN 3
Error 3 = 38.9764 +- 0.3135

ITERACIÓN 4
Error 4 = 38.9826 +- 0.3139

ITERACIÓN 5

KeyboardInterrupt: